# Анализ информации о рынке вакансий для Data Analyst или Analyst BI    в Европе по данным LinkedIn.

<h1>Содержание<span class="tocSkip"></span></h1>

<div class="toc"><ul class="toc-item"><li><span><a href="#Просмотр данных" data-toc-modified-id="Просмотр данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Просмотр данных</a></span></li><li><span><a href="#Локация вакансии" data-toc-modified-id="Локация вакансии-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Локация вакансии</a></span></li><li><span><a href="#Название компании" data-toc-modified-id="Название компании-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Название компании</a></span></li><li><span><a href="#Название вакансии" data-toc-modified-id="Название вакансии-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Название вакансии</a></span></li><li><span><a href="#Размер компании и сфера" data-toc-modified-id="Размер компании и сфера-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Размер компании и сфера</a></span></li><li><span><a href="#Тип занятости" data-toc-modified-id="Тип занятости-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Тип занятости</a>  </span> <li><span><a href="#Количество кандидатов" data-toc-modified-id="Количество кандидатов-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Количество кандидатов</a></span></li><li><span><a href="#Дата вакансии" data-toc-modified-id="Дата вакансии-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Дата вакансии</a></span> <li><span><a href="#Хард скил" data-toc-modified-id="Хард скил-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Хард скил</a></span></li><li><span><a href="#Подготовка к визуализации" data-toc-modified-id="Подготовка к визуализации-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Подготовка к визуализации</a></span></li></ul></div>

**Техническое задание** 

По итогу парсинга, должны быть отражены признаки:
- наименование вакансии
- город
- страна
- тип занятости (online, hybride, on-site)
- компания
- размер компании (количество работников)
- сфера деятельности компании
- требуемые хард скилы
- дата публикации вакансии
- количество кандидатов на вакансию

Цель: Визуализировать информацию о рынке вакансий для Data Analyst или Analyst BI в Европе.

# Просмотр данных

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np
import seaborn as sns
import warnings
from datetime import date
from datetime import timedelta
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('masterskaya_yandex_2022_09_07.csv')
df.head()

   Unnamed: 0                                               html
0           0  \n  <div>\n    <div class="\n        jobs-deta...
1           1  \n  <div>\n    <div class="\n        jobs-deta...
2           2  \n  <div>\n    <div class="\n        jobs-deta...
3           3  \n  <div>\n    <div class="\n        jobs-deta...
4           4  \n  <div>\n    <div class="\n        jobs-deta...

In [3]:
elem = df['html'][0]
elem

'\n  <div>\n    <div class="\n        jobs-details__main-content jobs-details__main-content--single-pane full-width\n        ">\n        \n<!---->\n      \n<!---->\n      <div>\n        <div class="jobs-unified-top-card t-14">\n  <div class="relative">\n\n    <div class="jobs-unified-top-card__content--two-pane">\n<!---->\n        <a href="/jobs/view/3258155313/?alternateChannel=search&amp;refId=xQWMq5sHxPa4BOVKDp0TKg%3D%3D&amp;trackingId=grGqx%2FHW0EZ%2BorBvEr%2Ft%2Bg%3D%3D&amp;trk=d_flagship3_search_srp_jobs" id="ember464" class="ember-view">\n          <h2 class="t-24 t-bold jobs-unified-top-card__job-title">Stage - Assistant Ingénieur Qualité - Beyrand (H/F)</h2>\n        </a>\n\n      <div class="jobs-unified-top-card__primary-description">\n          <span class="jobs-unified-top-card__subtitle-primary-grouping t-black">\n            <span class="jobs-unified-top-card__company-name">\n                  <a href="/company/hermes-group/life/" id="ember465" class="ember-view t-black t-normal">\n                    Hermès\n                  </a>\n            </span>\n              <span class="jobs-unified-top-card__bullet">\n                Limoges, Nouvelle-Aquitaine, France\n              </span>\n\n              <span class="jobs-unified-top-card__workplace-type">On-site</span>\n          </span>\n          <span class="jobs-unified-top-card__subtitle-secondary-grouping t-black--light">\n              <span class="jobs-unified-top-card__posted-date\n                  jobs-unified-top-card__posted-date--new t-bold">\n                13 minutes ago\n              </span>\n<!---->          </span>\n      </div>\n\n      <div class="mt5 mb2">\n          <ul>\n                <li class="jobs-unified-top-card__job-insight">\n                  <div class="flex-shrink-zero mr2 t-black--light">\n                    <div class="ivm-image-view-model   ">\n    <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex\n    \n    ">\n    <li-icon aria-hidden="true" type="job" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M17 6V5a3 3 0 00-3-3h-4a3 3 0 00-3 3v1H2v4a3 3 0 003 3h14a3 3 0 003-3V6zM9 5a1 1 0 011-1h4a1 1 0 011 1v1H9zm10 9a4 4 0 003-1.38V17a3 3 0 01-3 3H5a3 3 0 01-3-3v-4.38A4 4 0 005 14z"></path>\n</svg></li-icon>\n</div>\n  </div>\n                  </div>\n                  <span>\n                    <!---->Internship · Entry level<!---->\n                  </span>\n                </li>\n                <li class="jobs-unified-top-card__job-insight">\n                  <div class="flex-shrink-zero mr2 t-black--light">\n                    <div class="ivm-image-view-model   ">\n    <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex\n    \n    ">\n    <li-icon aria-hidden="true" type="company" size="large"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M4 2v20h16V2zm14 18h-4v-2h-4v2H6V4h12zm-7-8H8v-2h3zm0 4H8v-2h3zm5-4h-3v-2h3zm-5-4H8V6h3zm5 0h-3V6h3zm0 8h-3v-2h3z"></path>\n</svg></li-icon>\n</div>\n  </div>\n                  </div>\n                  <span>\n                    <!---->10,001+ employees · Retail Luxury Goods and Jewelry<!---->\n                  </span>\n                </li>\n                    <li class="jobs-unified-top-card__job-insight jobs-unified-top-card__job-insight--highlight">\n                      <div class="flex-shrink-zero mr2 t-black--light">\n                        <div class="ivm-image-view-model   ">\n    <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex\n    \n    ">\n    <li-icon aria-hidden="true" type="lightbulb" size="medium"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M10 20h4v.1a1.9 1.9 0 01-1.9 1.9h-.2a1.9 1.9 0 01-1.9-1.9zm4.68-14.47A1 1 0 0016 5l.76-1.85a1 1 0 00-.54-1.3 1 1 0 00-1.31.54l-.76 1.85a1 1 0 00.53 1.29zm5.09 4.33l1.85-.76a1 1 0 00.54-1.31 1 1 0 00-1.3-.54L19 8a1 1 0 00-.54 1.31 1 1 0 001.3.55zM4.23 14.14l-1.85.76a1 1 0 00-.54 1.31 1 1 0 001.3.54L5 16a1 1 0 00.54-1.31 1 1 0 00-1.3-.55zm17.39.76l-1.85-.76A1 1 0 0019 16l1.85.76a1 1 0 00.78-1.86zM5 8l-1.86-.75a1 1 0 00-1.3.54 1 1 0 00.54 1.31l1.85.76A1 1 0 005 8zm3-3a1 1 0 001.31.54 1 1 0 00.54-1.3L9.1 2.38a1 1 0 00-1.31-.54 1 1 0 00-.54 1.3zm9 6.91V12a5.48 5.48 0 01-1.61 3.88l-.07.08a3.94 3.94 0 00-1.08 1.94L14 19h-4l-.24-1.08A4 4 0 008.68 16l-.07-.07A5.51 5.51 0 017 12v-.1A4.9 4.9 0 0111.9 7h.2a4.9 4.9 0 014.9 4.9zm-2 0A2.9 2.9 0 0012.11 9h-.21A2.9 2.9 0 009 11.9v.1a3.47 3.47 0 001 2.47l.08.08a5.92 5.92 0 011.5 2.45h.84a6 6 0 011.48-2.44l.08-.07A3.48 3.48 0 0015 12z"></path>\n</svg></li-icon>\n</div>\n  </div>\n                      </div>\n                      <span>\n                        <!---->See recent hiring trends for Hermès.<span class="white-space-pre"> </span><a class="app-aware-link" target="_self" href="https://www.linkedin.com/premium/products/?family=JSS&amp;upsellOrderOrigin=premium_job_details_summary_card&amp;utype=job"><!---->Unlock more Premium insights for free<!----></a>\n                      </span>\n                    </li>\n                <li class="jobs-unified-top-card__job-insight">\n                  <div class="flex-shrink-zero mr2 t-black--light">\n                    <div class="ivm-image-view-model   ">\n    <div class="ivm-view-attr__img-wrapper ivm-view-attr__img-wrapper--use-img-tag display-flex\n    \n    ">\n    <li-icon type="radar-screen-icon" class="ivm-view-attr__icon--signal-positive " size="large" role="img" aria-label="Actively recruiting"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M12 20a8 8 0 010-16 7.91 7.91 0 014.9 1.69l-1.43 1.42a6 6 0 101.42 1.42l3.82-3.82a1 1 0 000-1.41A1 1 0 0020 3a1 1 0 00-.7.29l-1 1A10 10 0 1022 12h-2a8 8 0 01-8 8zm5-8a5 5 0 11-5-5 4.93 4.93 0 012.76.82l-2.24 2.24A2.24 2.24 0 0012 10a2 2 0 102 2 2.24 2.24 0 00-.07-.51l2.24-2.24A5 5 0 0117 12z"></path>\n</svg></li-icon>\n</div>\n  </div>\n                  </div>\n                  <span>\n                    <!---->Actively recruiting<!---->\n                  </span>\n                </li>\n          </ul>\n              </div>\n\n      <div class="mt5">\n          <div class="display-flex">\n              <div class="jobs-s-apply jobs-s-apply--fadein inline-flex mr2">\n    <div class="jobs-apply-button--top-card">\n  <button role="link" aria-label="Apply to Stage - Assistant Ingénieur Qualité - Beyrand (H/F) on company website" id="ember654" class="jobs-apply-button artdeco-button artdeco-button--icon-right artdeco-button--3 artdeco-button--primary ember-view">  <li-icon aria-hidden="true" type="link-external" class="artdeco-button__icon" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">\n  <path d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z"></path>\n</svg></li-icon>\n\n<span class="artdeco-button__text">\n    Apply\n</span></button>\n</div>\n</div>\n              <button class="jobs-save-button artdeco-button artdeco-button--3 artdeco-button--secondary" type="button">\n<!---->      <span aria-hidden="true">\n        Save\n      </span>\n    <span class="a11y-text">\n      Save Stage - Assistant Ingénieur Qualité - Beyrand (H/F) at Hermès\n    </span>\n</button>\n          </div>\n\n<!---->\n<!----><!---->      </div>\n\n<!---->\n<!---->\n<!---->\n<!---->    </div>\n\n<!---->\n<!---->\n    <div class="jobs-unified-top-card__buttons-container absolute">\n      <div class="display-flex flex-column">\n        <div class="display-flex justify-flex-end">\n            <div id="ember466" class="artdeco-dropdown artdeco-dropdown--placement-bottom artdeco-dropdown--justification-right ember-view">\n\n    <button aria-expanded="false" id="ember467" class="social-share__dropdown-trigger artdeco-button artdeco-button--3 artdeco-button--tertiary artdeco-button--circle artdeco-button--muted artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view" type="button" tabindex="0">\n      <li-icon aria-hidden="true" type="share-linkedin" class="artdeco-button__icon" size="medium"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M23 12l-4.61 7H16l4-6H8a3.92 3.92 0 00-4 3.84V17a4 4 0 00.19 1.24L5.12 21H3l-.73-2.22A6.4 6.4 0 012 16.94 6 6 0 018 11h12l-4-6h2.39z"></path>\n</svg></li-icon>\n      <span class="artdeco-button__text">Share</span>\n    \n<!----></button>\n\n  <div tabindex="-1" aria-hidden="true" id="ember468" class="social-share__content text-align-left artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--has-arrow artdeco-dropdown__content--arrow-right artdeco-dropdown__content--justification-right artdeco-dropdown__content--placement-bottom ember-view"><!----></div>\n</div>\n\n<div>\n    \n    \n<!---->    \n  \n\n</div>\n            <div id="ember469" class="artdeco-dropdown jobs-options artdeco-dropdown--placement-bottom artdeco-dropdown--justification-right ember-view">\n  \n              <button aria-expanded="false" id="ember470" class="artdeco-button artdeco-button--3 artdeco-button--tertiary artdeco-button--muted artdeco-button--circle artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view" type="button" tabindex="0">\n                <li-icon aria-hidden="true" type="overflow-web-ios" class="artdeco-button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M14 12a2 2 0 11-2-2 2 2 0 012 2zM4 10a2 2 0 102 2 2 2 0 00-2-2zm16 0a2 2 0 102 2 2 2 0 00-2-2z"></path>\n</svg></li-icon>\n                <span class="artdeco-button__text">\n                  Show more options\n                </span>\n              \n<!----></button>\n            \n  <div tabindex="-1" aria-hidden="true" id="ember471" class="artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--has-arrow artdeco-dropdown__content--arrow-right artdeco-dropdown__content--justification-right artdeco-dropdown__content--placement-bottom ember-view"><!----></div>\n</div>\n        </div>\n<!---->      </div>\n    </div>\n  </div>\n    <div class="jobs-unified-top-card__sticky-header\n        jobs-unified-top-card__sticky-header--disabled">\n      <div class="jobs-unified-top-card__title-container">\n          <a data-control-id="grGqx/HW0EZ+orBvEr/t+g==" href="/jobs/view/3258155313/?alternateChannel=search&amp;refId=xQWMq5sHxPa4BOVKDp0TKg%3D%3D&amp;trackingId=grGqx%2FHW0EZ%2BorBvEr%2Ft%2Bg%3D%3D&amp;trk=d_flagship3_search_srp_jobs" id="ember472" class="ember-view">\n            <h2 class="t-16 t-black t-bold truncate">\n              Stage - Assistant Ingénieur Qualité - Beyrand (H/F)\n            </h2>\n          </a>\n        <div class="t-14 truncate">\n          <span>Hermès</span>\n            <span class="jobs-unified-top-card__bullet">Limoges, Nouvelle-Aquitaine, France</span>\n            <span class="jobs-unified-top-card__workplace-type">On-site</span>\n        </div>\n      </div>\n      <div class="jobs-unified-top-card__sticky-buttons-container">\n          <div class="jobs-s-apply jobs-s-apply--fadein inline-flex mr2">\n    <div class="jobs-apply-button--top-card">\n  <button role="link" aria-label="Apply to Stage - Assistant Ingénieur Qualité - Beyrand (H/F) on company website" id="ember655" class="jobs-apply-button artdeco-button artdeco-button--icon-right artdeco-button--2 artdeco-button--primary ember-view">  <li-icon aria-hidden="true" type="link-external" class="artdeco-button__icon" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">\n  <path d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z"></path>\n</svg></li-icon>\n\n<span class="artdeco-button__text">\n    Apply\n</span></button>\n</div>\n</div>\n\n          <button class="jobs-save-button mr2 artdeco-button artdeco-button--2 artdeco-button--secondary" aria-expanded="false" type="button">\n<!---->      <span aria-hidden="true">\n        Save\n      </span>\n    <span class="a11y-text">\n      Save Stage - Assistant Ingénieur Qualité - Beyrand (H/F) at Hermès\n    </span>\n</button>\n\n        <div id="ember473" class="artdeco-dropdown jobs-options artdeco-dropdown--placement-bottom artdeco-dropdown--justification-right ember-view inline-flex">\n  \n          <button aria-expanded="false" id="ember474" class="artdeco-button artdeco-button--2 artdeco-button--tertiary artdeco-button--muted artdeco-button--circle artdeco-dropdown__trigger artdeco-dropdown__trigger--placement-bottom ember-view" type="button" tabindex="0">\n\n            <li-icon aria-hidden="true" type="overflow-web-ios" class="artdeco-button__icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">\n  <path d="M14 12a2 2 0 11-2-2 2 2 0 012 2zM4 10a2 2 0 102 2 2 2 0 00-2-2zm16 0a2 2 0 102 2 2 2 0 00-2-2z"></path>\n</svg></li-icon>\n            <span class="artdeco-button__text">\n              Show more options\n            </span>\n          \n<!----></button>\n        \n  <div tabindex="-1" aria-hidden="true" id="ember475" class="artdeco-dropdown__content artdeco-dropdown--is-dropdown-element artdeco-dropdown__content--has-arrow artdeco-dropdown__content--arrow-right artdeco-dropdown__content--justification-right artdeco-dropdown__content--placement-bottom ember-view"><!----></div>\n</div>\n      </div>\n    </div>\n</div>\n\n<!---->      </div>\n\n<!---->\n        <div class="jobs-box--fadein jobs-box--full-width jobs-box--with-cta-large jobs-description\n    \n    \n    \n     jobs-description--reformatted\n    \n    ">\n\n<!---->\n  <article class="jobs-description__container\n      m4">\n    <div class="jobs-description__content jobs-description-content\n        ">\n      <div class="jobs-box__html-content jobs-description-content__text t-14 t-normal\n          jobs-description-content__text--stretch" id="job-details" tabindex="-1">\n<!---->\n<!---->\n<!---->        <span>\n                <strong><u>LA SOCIETE :</u> </strong><p><br>\n</p>Créée en 1926, la société Beyrand, filiale du Groupe Hermès depuis 2013, met au point, développe et reproduit les décors de ses clients sur des supports tels que la céramique (bone china, faïence et porcelaine), l\'émail, le verre ou le cuir.<p><br>\n</p>Par la précision de son savoir-faire et sa capacité à innover, Beyrand se positionne comme référent mondial dans le domaine de l’impression sérigraphique et partenaire d’excellence pour l’industrie du luxe.<p><br>\n</p>Des choix stratégiques et technologiques ambitieux destinés à s’adapter aux besoins de ses clients, actuels et à venir, permettent aujourd’hui à Beyrand d’étendre son expertise au-delà de ses marchés traditionnels (Art de la Table, sanitaire, <i>giftware</i>) pour conquérir et développer de nouveaux territoires (notamment maroquinerie). Son ambition est d’affirmer son positionnement d’excellence sur le marché B2B de décoration de l’industrie du luxe, en proposant un savoir-faire de décoration de haute précision sur une variété de supports, faisant appel à une variété de technologies.<p><br>\n</p><strong>Stage de 6 mois à pouvoir pour janvier 2023. Basé à Saint-Just-le-Martel, à proximité de Limoges.</strong><p><br>\n</p><strong><u>MISSIONS GENERALE :</u></strong><p><br>\n</p>Le/la stagiaire Ingénieur Qualité aura pour mission d’accompagner le Responsable Qualité du site dans la mise en place de méthodes de résolution de problèmes dans les ateliers, dans la formalisation de nos processus et plans de contrôle ainsi que dans la robustesse des contrôles amonts au process de fabrication. Ces étapes s’inscrivent dans notre feuille de route d’amélioration continue de la Qualité opérationnelle de l’entreprise et de la satisfaction de nos clients.<p><br>\n</p><strong><u> PRINCIPALES ACTIVITES : </u></strong><p><br>\n</p><ul><li>Résolutions de problèmes terrain</li><li>Déploiement de méthode type QRQC en ateliers de production (impression, couleurs, écrans) </li><li>Participation à des groupes de travail sur la résolution de problèmes Qualité (internes &amp; externes) </li><li>Coconstruire les outils de formation et piloter leurs déploiements auprès des opérationnels </li><li>Opérations de contrôles</li><li>Définition/formalisation de plans de contrôles génériques par type de produit </li><li>Animation des tests Reproductibilité &amp; Répétabilité des outils de mesure (spectrophotomètres…) </li><li>Amélioration/mise en place de contrôles sur les paramètres critiques en amont de l’impression (couleur des pâtes, dimensions tissus…) </li><li>Système qualité</li><li>Déploiement du système qualité sur les postes (modes opératoires et procédures) </li><li>Mettre en place des audits produit/process pour renforcer la culture Qualité sur le site </li><li>Participation à la capitalisation des savoir-faire <br>\n</li></ul><p><br>\n</p><strong><u>PROFIL :</u></strong><p><br>\n</p>Étudiant(e) de formation Bac +5 à dominante industrielle à la recherche d’un stage de fin d’études (6 mois), avec idéalement une première expérience en entreprise (Qualité, Méthode, Production).<p><br>\n</p>Vous êtes à l’aise avec les outils et méthodes de l’amélioration continue : Plan de surveillance, 5 Pourquoi, 5M, 5S, Muda, AMDEC Risques…<p><br>\n</p>Vous souhaitez vous investir dans une expérience formatrice et très opérationnelle.<p><br>\n</p>Vous êtes curieux, autonome et vous avez de grandes capacités d’analyse et de rigueur, tout en ayant un bon sens pratique et un goût pour le terrain, avec des capacités à mettre en œuvre les méthodologies de résolution de problème.<p><br>\n</p>Enfin, vous avez un excellent niveau de communication écrit et oral.\n<!---->        </span>\n      </div>\n<!---->      <div class="jobs-description__details">\n<!---->\n      </div>\n    </div>\n  </article>\n<!----></div>\n<!----><!---->\n                <div id="SALARY" class="ember-view jobs-box--generic-occludable-area-large   jobs-unified-description__salary-main-rail-card">\n<!---->    </div>\n\n\n<!----><!---->\n<!---->\n<!---->\n                <div id="ember657" class="ember-view jobs-box--generic-occludable-area-large  ">\n<!---->    </div>\n\n\n<!---->    </div>\n\n<!---->  </div>\n\n  <div id="ember477" class="ember-view"><!----></div>\n\n<div id="ember478" class="ember-view"><div id="ember479" class="ember-view"><!----></div></div>\n\n  <div>\n  <div id="ember480" class="ember-view"><!----></div>\n</div>\n\n  <div id="ember481" class="ember-view"><!----></div>\n\n<!---->\n  <div class="jobs-message-modal">\n  <div id="ember482" class="ember-view"><!----></div>\n</div>\n\n<!---->\n<!---->\n<!---->\n  <div id="ember483" class="ember-view"><!----></div>\n'

Просмотр подробнее, по пунктам ТЗ на примере конкретной вакансии

In [4]:
soup = BeautifulSoup(elem)

In [5]:
print('Название вакансии:', soup.find('h2').text.strip()) 
print('Регион, город:', soup.find('span', class_ = 'jobs-unified-top-card__bullet').text.strip())
print('Тип занятости:', soup.find('span', class_ = 'jobs-unified-top-card__workplace-type').text.strip())
print('Наименование компании:', soup.find('span', class_ = 'jobs-unified-top-card__company-name').text.strip())
print('Размер компании и сфера:', soup.find('div', class_ = 'mt5 mb2').find_all('li')[1].text.strip())
print('Дата публикации вакансии:',soup.find('span', class_ = 'jobs-unified-top-card__posted-date').text.strip())
# помним, что выгрузка по состоянию на 07/09/2022

Название вакансии: Stage - Assistant Ingénieur Qualité - Beyrand (H/F)
Регион, город: Limoges, Nouvelle-Aquitaine, France
Тип занятости: On-site
Наименование компании: Hermès
Размер компании и сфера: 10,001+ employees · Retail Luxury Goods and Jewelry
Дата публикации вакансии: 13 minutes ago

In [6]:
print('Потенциальное расположение хард скил:',soup.find('div', {'id':'job-details'}).text.strip())

Потенциальное расположение хард скил: LA SOCIETE :
Créée en 1926, la société Beyrand, filiale du Groupe Hermès depuis 2013, met au point, développe et reproduit les décors de ses clients sur des supports tels que la céramique (bone china, faïence et porcelaine), l'émail, le verre ou le cuir.
Par la précision de son savoir-faire et sa capacité à innover, Beyrand se positionne comme référent mondial dans le domaine de l’impression sérigraphique et partenaire d’excellence pour l’industrie du luxe.
Des choix stratégiques et technologiques ambitieux destinés à s’adapter aux besoins de ses clients, actuels et à venir, permettent aujourd’hui à Beyrand d’étendre son expertise au-delà de ses marchés traditionnels (Art de la Table, sanitaire, giftware) pour conquérir et développer de nouveaux territoires (notamment maroquinerie). Son ambition est d’affirmer son positionnement d’excellence sur le marché B2B de décoration de l’industrie du luxe, en proposant un savoir-faire de décoration de haute précision sur une variété de supports, faisant appel à une variété de technologies.
Stage de 6 mois à pouvoir pour janvier 2023. Basé à Saint-Just-le-Martel, à proximité de Limoges.
MISSIONS GENERALE :
Le/la stagiaire Ingénieur Qualité aura pour mission d’accompagner le Responsable Qualité du site dans la mise en place de méthodes de résolution de problèmes dans les ateliers, dans la formalisation de nos processus et plans de contrôle ainsi que dans la robustesse des contrôles amonts au process de fabrication. Ces étapes s’inscrivent dans notre feuille de route d’amélioration continue de la Qualité opérationnelle de l’entreprise et de la satisfaction de nos clients.
 PRINCIPALES ACTIVITES :
Résolutions de problèmes terrainDéploiement de méthode type QRQC en ateliers de production (impression, couleurs, écrans) Participation à des groupes de travail sur la résolution de problèmes Qualité (internes & externes) Coconstruire les outils de formation et piloter leurs déploiements auprès des opérationnels Opérations de contrôlesDéfinition/formalisation de plans de contrôles génériques par type de produit Animation des tests Reproductibilité & Répétabilité des outils de mesure (spectrophotomètres…) Amélioration/mise en place de contrôles sur les paramètres critiques en amont de l’impression (couleur des pâtes, dimensions tissus…) Système qualitéDéploiement du système qualité sur les postes (modes opératoires et procédures) Mettre en place des audits produit/process pour renforcer la culture Qualité sur le site Participation à la capitalisation des savoir-faire

PROFIL :
Étudiant(e) de formation Bac +5 à dominante industrielle à la recherche d’un stage de fin d’études (6 mois), avec idéalement une première expérience en entreprise (Qualité, Méthode, Production).
Vous êtes à l’aise avec les outils et méthodes de l’amélioration continue : Plan de surveillance, 5 Pourquoi, 5M, 5S, Muda, AMDEC Risques…
Vous souhaitez vous investir dans une expérience formatrice et très opérationnelle.
Vous êtes curieux, autonome et vous avez de grandes capacités d’analyse et de rigueur, tout en ayant un bon sens pratique et un goût pour le terrain, avec des capacités à mettre en œuvre les méthodologies de résolution de problème.
Enfin, vous avez un excellent niveau de communication écrit et oral.

Дополнительная предработка полученных данных, а именно:  
- выделение страны,  
- города,  
- даты,  
- хард скилы,  
- количество кандидатов.

In [7]:
BeautifulSoup(df['html'][0]).find('a').get('href')

'/jobs/view/3258155313/?alternateChannel=search&refId=xQWMq5sHxPa4BOVKDp0TKg%3D%3D&trackingId=grGqx%2FHW0EZ%2BorBvEr%2Ft%2Bg%3D%3D&trk=d_flagship3_search_srp_jobs'

In [8]:
'https://linkedin.com' + BeautifulSoup(df['html'][0]).find('a').get('href')

'https://linkedin.com/jobs/view/3258155313/?alternateChannel=search&refId=xQWMq5sHxPa4BOVKDp0TKg%3D%3D&trackingId=grGqx%2FHW0EZ%2BorBvEr%2Ft%2Bg%3D%3D&trk=d_flagship3_search_srp_jobs'

In [9]:
df['link'] = df['html'].apply(lambda x: "https://linkedin.com" + BeautifulSoup(x).find('a').get('href'))

## Локация вакансии

In [10]:
def get_geo(cell):
    try:
        return BeautifulSoup(cell).find('span', class_ = 'jobs-unified-top-card__bullet').text.strip()
    except:
        return np.nan

In [11]:
def get_city(cell):
    if len(cell.split(',')) > 1:
        return cell.split(',')[0].strip()
    elif "Metropolitan" in cell or "Greater" in cell:
        return cell.replace('Greater', '').replace('Metropolitan', '').replace('Area', '').replace('Region','').strip()
    else:
        return np.nan

In [12]:
def get_country(cell):
    if len(cell.split(',')) > 1:
        return cell.split(',')[-1].strip()
    elif "Metropolitan" in cell or "Greater" in cell or "Region" in cell:
        return np.nan
    else:
        return cell

In [13]:
df['location'] = df['html'].apply(get_geo)
df['city'] = df['location'].apply(get_city)
df['country'] = df['location'].apply(get_country)

In [14]:
df.head()

,Unnamed: 0,html,link,location,city,country
0,0,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges,France
1,1,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse,France
2,2,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden
3,3,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium
4,4,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany

In [15]:
def pass_and_duplicat (df):
    print('Дубликатов:', df.duplicated().sum())
    print('Пропущенных позиций:')
    print(round((df.isna().mean()*100),2))

In [16]:
pass_and_duplicat (df)

Дубликатов: 0
Пропущенных позиций:
Unnamed: 0    0.00
html          0.00
link          0.00
location      0.00
city          8.29
country       5.96
dtype: float64

In [17]:
df['country'].unique()

array(['France', 'Sweden', 'Belgium', 'Germany', nan, 'Hungary', 'Spain',
       'Denmark', 'Gibraltar', 'Poland', 'United Kingdom', 'Finland',
       'Switzerland', 'Netherlands', 'Italy', 'Norway', 'Czechia',
       'Bulgaria', 'Slovakia', 'Portugal', 'Ireland', 'Luxembourg',
       'Romania', 'Croatia', 'Slovenia', 'Greece', 'Austria', 'Estonia',
       'Lithuania', 'Ukraine', 'Italy Metropolitan Area', 'Serbia'],
      dtype=object)

In [18]:
df[df['country'].isna()]

,Unnamed: 0,html,link,location,city,country
9,9,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247820547/?alt...,Wroclaw Metropolitan Area,Wroclaw,NaN
11,11,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3257247449/?alt...,Przemyśl Metropolitan Area,Przemyśl,NaN
21,21,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3256742948/?alt...,Wroclaw Metropolitan Area,Wroclaw,NaN
28,28,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3257240118/?alt...,Grudziadz Metropolitan Area,Grudziadz,NaN
31,31,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3256368280/?alt...,Greater Norrköping Metropolitan Area,Norrköping,NaN
33,33,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3257248741/?alt...,Radom Metropolitan Area,Radom,NaN
36,36,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3257250927/?alt...,Zamosc Metropolitan Area,Zamosc,NaN
37,37,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3257414261/?alt...,Greater Edinburgh Area,Edinburgh,NaN
59,59,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3246865514/?alt...,Berlin Metropolitan Area,Berlin,NaN
72,72,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3255007949/?alt...,Lodz Metropolitan Area,Lodz,NaN
105,105,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3255012398/?alt...,Lodz Metropolitan Area,Lodz,NaN
110,110,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3249995149/?alt...,Greater Cáceres Metropolitan Area,Cáceres,NaN
134,134,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3248394290/?alt...,Brussels Metropolitan Area,Brussels,NaN
178,178,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247860465/?alt...,Mons Metropolitan Area,Mons,NaN
182,182,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3249825219/?alt...,Bucharest Metropolitan Area,Bucharest,NaN
189,189,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3246918625/?alt...,Greater Milan Metropolitan Area,Milan,NaN
210,210,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247845833/?alt...,Greater Bologna Metropolitan Area,Bologna,NaN
228,228,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247852791/?alt...,Ghent Metropolitan Area,Ghent,NaN
245,245,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3256951297/?alt...,Greater Paris Metropolitan Region,Paris,NaN
250,250,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247863268/?alt...,Bruges Metropolitan Area,Bruges,NaN
263,263,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3253427743/?alt...,Greater Gijón Metropolitan Area,Gijón,NaN
284,284,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247857667/?alt...,Kortrijk Metropolitan Area,Kortrijk,NaN
321,321,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3249882517/?alt...,Greater Rome Metropolitan Area,Rome,NaN
334,334,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3254346710/?alt...,Gdansk Metropolitan Area,Gdansk,NaN
344,344,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3243899023/?alt...,Greater Zurich Area,Zurich,NaN
348,348,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247862327/?alt...,Namur Metropolitan Area,Namur,NaN
363,363,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3250809231/?alt...,Greater Modena Metropolitan Area,Modena,NaN
376,376,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247186568/?alt...,Greater Barcelona Metropolitan Area,Barcelona,NaN
386,386,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247843839/?alt...,Greater Turin Metropolitan Area,Turin,NaN
398,398,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247849735/?alt...,Brussels Metropolitan Area,Brussels,NaN
405,405,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3255014616/?alt...,Greater Paris Metropolitan Region,Paris,NaN
408,408,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3253807557/?alt...,Greater Barcelona Metropolitan Area,Barcelona,NaN
424,424,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247818801/?alt...,Cologne Bonn Region,NaN,NaN
436,436,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3253824038/?alt...,Greater Paris Metropolitan Region,Paris,NaN
448,448,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247849781/?alt...,Antwerp Metropolitan Area,Antwerp,NaN
449,449,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3255297398/?alt...,Greater Nantes Metropolitan Area,Nantes,NaN
472,472,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3249546920/?alt...,Warsaw Metropolitan Area,Warsaw,NaN
479,479,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3249993235/?alt...,Greater Gijón Metropolitan Area,Gijón,NaN
492,492,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247186640/?alt...,Greater Valencia Metropolitan Area,Valencia,NaN
567,567,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247852438/?alt...,Greater Genoa Metropolitan Area,Genoa,NaN
574,574,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247856433/?alt...,Liege Metropolitan Area,Liege,NaN
604,604,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247862197/?alt...,Louvain Metropolitan Area,Louvain,NaN
669,669,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3241903733/?alt...,Greater Barcelona Metropolitan Area,Barcelona,NaN
671,671,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3195587554/?alt...,Hannover-Braunschweig-Göttingen-Wolfsburg Region,NaN,NaN
721,721,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3256782698/?alt...,Ghent Metropolitan Area,Ghent,NaN
760,760,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3248393601/?alt...,Athens Metropolitan Area,Athens,NaN

Необходима дополнительная проработка пропущенных значений. Просмотрим вручную

In [19]:
loc = {
    'Spain': ['Barcelona', 'Cáceres', 'Gijón', 'Valencia'],
    'Belgium': ['Louvain', 'Antwerp', 'Bruges', 'Brussels', 'Ghent', 'Kortrijk', 'Liege', 'Mons', 'Namur'],
    'France': ['Paris', 'Nantes'],
    'Italy' : ['Turin', 'Barcelona', 'Bologna', 'Genoa', 'Milan', 'Modena', 'Rome'],
    'Poland': ['Gdansk', 'Grudziadz', 'Lodz', 'Przemyśl', 'Radom', 'Warsaw', 'Wroclaw', 'Zamosc'],
    'Germany': ['Berlin'],
    'United Kingdom': ['Edinburgh'],
    'Switzerland':['Zurich'],
    'Sweden': ['Norrköping'],
    'Greece': ['Athens'],
    'Romania':['Bucharest']}

In [20]:
def change_the_isna_country (row):
    if str(row['country']) == 'nan':
        city = row['city']
        for k, v in loc.items():
            if city in v:
                return k
    return row['country']

In [21]:
df['country'] = df.apply(change_the_isna_country, axis=1)

In [22]:
df[df['country'].isna()]

,Unnamed: 0,html,link,location,city,country
424,424,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3247818801/?alt...,Cologne Bonn Region,NaN,NaN
671,671,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3195587554/?alt...,Hannover-Braunschweig-Göttingen-Wolfsburg Region,NaN,NaN

In [23]:
df['country'][424] = 'Germany'
df['country'][671] = 'Germany'

In [24]:
df[df['country'].isna()]

Empty DataFrame
Columns: [Unnamed: 0, html, link, location, city, country]
Index: []

In [25]:
df[df['city'].isna()]

,Unnamed: 0,html,link,location,city,country
16,16,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3254095477/?alt...,Denmark,NaN,Denmark
19,19,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3248368719/?alt...,Gibraltar,NaN,Gibraltar
27,27,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3257231590/?alt...,Poland,NaN,Poland
53,53,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3248871894/?alt...,Belgium,NaN,Belgium
57,57,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3253483251/?alt...,France,NaN,France
...,...,...,...,...,...,...
710,710,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3249701530/?alt...,France,NaN,France
714,714,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3164447081/?alt...,Spain,NaN,Spain
715,715,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3224293781/?alt...,Spain,NaN,Spain
723,723,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3254094473/?alt...,Sweden,NaN,Sweden
770,770,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3254092624/?alt...,Denmark,NaN,Denmark

Проработку по городу ситаю оставить без измения, так как конкретно указана страна, предположительно, вакансии могут быть удаленные, без закрепления в конкретном городе.

## Название компании

In [26]:
def company_name(cell):
    try:
        return BeautifulSoup(cell).find('span', class_ = 'jobs-unified-top-card__company-name').text.strip()
    except:
        return np.nan

In [27]:
df['company_name'] = df['html'].apply(company_name)

In [28]:
pass_and_duplicat (df['company_name'])

Дубликатов: 359
Пропущенных позиций:
0.0

In [29]:
df['company_name'].unique()

array(['Hermès', 'AUSY', 'TELUS International AI Data Solutions',
       'TELUS International', 'STMicroelectronics', 'Carrefour',
       'TotalEnergies', 'Capgemini', 'Jaguar Land Rover',
       'GESER-BEST - FRANCE', 'Societe Generale',
       'IFP Energies nouvelles',
       'CTAG – Centro Tecnológico de Automoción de Galicia', 'Spotify',
       'Liebherr Group', 'CELAD', 'Guardian Jobs', 'Lidl in Germany',
       'Intrum', 'Groupama Assurances Mutuelles', 'Solera, Inc.',
       'Grupo Modelo S.A. de C.V.', 'Genius Sports',
       'Jobs via eFinancialCareers', 'Pierre Fabre Group',
       'Randstad Switzerland', 'BNP Paribas', 'Meggitt', 'Laserhub GmbH',
       'Positive Thinking Company', 'Ortec Group', 'Umanis', 'Parrot',
       'KPMG Deutschland', 'Intesa Sanpaolo', 'BCG GAMMA', 'SECA SAS',
       'PwC France', 'onepoint', 'BBC', 'EPAM Systems', 'Spectos GmbH',
       'Computer Futures', 'Astek', 'Amey', 'Harnham', 'Boursorama',
       'Accenture Italia', 'PwC Czech Republic', 'rheindata GmbH',
       'Oliver James', 'Infineon Technologies',
       "Réseau de Transport d'Électricité", 'Grafton Recruitment',
       'Da Vinci', 'Fourth', 'Barco', 'Financial Conduct Authority',
       'Air Liquide', 'Vertiv', 'Amadeus', 'Accenture España', 'Workpath',
       'BearingPoint', 'PwC', 'Pareto',
       'LSEG (London Stock Exchange Group)', 'Luxottica', 'Appen',
       'Extia', 'BBC Studios', 'Page Personnel', 'ryd', 'Inato',
       'Nigel Frank International', 'Free-Work.com', 'inriver',
       'M Group Services', 'Morrison Data Services', 'Up agency',
       'Tripadvisor', 'Knossos Consulting', 'Wechselpilot GmbH',
       'Academic Work', 'Artsy', 'Groupe SII', 'Scania Group',
       'FDM Group', 'Cdiscount',
       'OfficeRnD | Flex & Hybrid Work Platform', 'CoolPeople', 'Moncler',
       'MI-GSO | PCUBED', 'Hager Group', 'THE KADEWE GROUP', 'join.com',
       'Colruyt Group', 'Everbridge', 'Holzprofi24', 'Niji',
       'Randstad Deutschland', 'Modis', 'Bouygues Telecom',
       'Soho House & Co', 'PwC Polska', 'SIX', 'Pardgroup', 'Bayer',
       'Project People', 'Dataiku', 'Pictet Group', 'GK Recruitment Ltd',
       'Surrey County Council', 'Manchester Airport', 'Change Grow Live',
       'Nike', 'Amyx, Inc.', 'EY', 'Huxley', 'Lacoste', 'umlaut company',
       'Metropolitan Thames Valley', 'GetPro', 'Sopra Steria',
       'Prometeia', 'Shell', 'Speedy Services', 'IHS Markit',
       'Indosuez Wealth Management', 'Balfour Beatty plc',
       'Balfour Beatty VINCI', 'Datadog', 'The Coca-Cola Company',
       'Lorien', 'Huntress', 'Moonkitten Textiles', 'Optiver', 'Luxoft',
       'Deutsche Bahn', 'Inclusive Recruiting', 'Bengs', 'Greenly',
       'Landeskriminalamt Nordrhein-Westfalen', 'Ridge and Partners LLP',
       'Glovo', 'Strategic Management Partners', 'Chinese Rice Wine',
       'Legal & General', 'Michael Page', 'Security Papers Limited',
       'Amazon', 'RWE', 'Groupe BPCE', 'Inetum', 'Jefferson Wells UK',
       "EPSI - L'école d'ingénierie informatique", 'Cesi',
       'Vitesco Technologies', 'StepStone', 'Deloitte', 'Safran',
       'EQUANS France', 'ACCA Careers', 'SCC France', 'ZF Group',
       'Greene King', 'Sportradar', 'Media.Monks', 'Sky',
       'M&L Aktiengesellschaft', 'Barry Callebaut Group', 'Wiley Edge',
       'Planet', 'Artefact', 'BITEQ Denmark A/S', 'IKOS GROUP',
       'AGS S.\u200bp.\u200bA.\u200b', 'Fortum',
       'NTT DATA Europe & Latam', 'Degusta Box', 'Lear Corporation',
       'AREP', 'IPM Group', 'Leroy Merlin',
       'Natixis Corporate & Investment Banking', 'Hays', 'Bit4id',
       'Westinghouse Electric Company', 'CPM Italy', '', 'TUI',
       'Independent Recruiters', 'CUPONING PULICIDAD S.L.',
       'Intel Corporation', 'GWI', 'Afiniti', 'connect RH', 'Stayforlong',
       'Expectoo Nigeria', 'CAPEOS CONSEILS', 'why worry GmbH',
       'RMB Design Solutions', 'Telenet', 'GE Renewable Energy',
       'Spindox', 'Kiwi.com', 'GROUPAMA GAN VIE', 'Bose Corporation',
       'Assystem', 'Talan', 'Maserati', 'Software * IT', 'NNE',
       'Rystad Energy', 'Unilin Group', 'NCR Corporation', 'KEEQuant',
       'Scalian', 'CS GROUP', 'DIGITAL PARTNERS', 'Blockchain.com',
       'ALTEN', 'SOFTWAY MEDICAL', 'Global Hires, LLC', 'ConsenSys',
       'Sage', 'Itron, Inc.', 'NATEK',
       'DGSE - Direction Générale de la Sécurité Extérieure',
       'Experis Italia', 'BeTechnology Group', 'SUPPLAY', 'EDF',
       'URBAN LINKER', 'de Volksbank', 'HR Proactivity', 'Reply',
       'BNP Paribas CIB', 'GFT Group',
       'J&J Marketing and Print Solutions', 'Randstad Tech Engineering',
       'Tesco', 'Paddle', 'Mathrix Group', 'The Adecco Group',
       'Web Leaders - Winning People', 'Volkswagen AG', 'Kantar', 'Yahoo',
       'Quantum Advisory', 'TicketSwap', 'Cegid', 'EMISYS CONSEIL',
       'Experis Switzerland', 'Glencore', 'KPMG Italy', 'Gi Group',
       'Free2Learn', 'Schneider Electric', 'CIMPA PLM Services',
       'Endeavor', 'CareerAddict', 'GfK', 'Getaround', 'ISO', 'CGI',
       'OLX Group', 'Adtriba', 'HERE Technologies', 'Takeda', 'Infosys',
       'Walters People', 'Sphere Digital Recruitment', 'permanent tsb',
       'A.S. Watson Group', 'Mastercard', 'HN Services', 'Whitbread',
       'Mec-Diesel S.p.A.', 'Nozomi Networks',
       'TheFork, a TripAdvisor company', 'Accenture DACH', 'Orange',
       'Viceversa', "Halo Resourcing | MK's Local Recruitment Agency",
       'Kambi', 'Spillfree', 'UEM', 'Flex', 'Talent Link NV',
       'GROUPE ISERBA', 'Gers Data', 'Groupe Roullier', 'Entelgy',
       'Birnbach Communications', 'STRATO personal GmbH', 'ITT Inc.',
       'FaulknerScott', 'Silicon Labs', 'Conduktor', 'www.TeamQuest.pl',
       'Tele2', 'Health Service Executive',
       'BNP Paribas Personal Finance', 'PRAXI', 'Tefors', 'Polestar',
       'bunq', 'Siemens', 'Drug Development Solutions', 'FEELING SPORTS',
       'Coopengo', 'Lyreco Group', 'ISA Digital Consulting', 'AXA',
       'Groupe Casino', 'Reverse', 'GKN Aerospace', 'Real Staffing',
       'Dstl', 'dns umbrella', 'John Deere', 'Stellantis', 'Fastweb',
       'ASML', 'Ventum Consulting', 'Proekspert AS', 'JouwICTvacature.nl',
       'Akronos Technologies', 'ELIS', 'Finastra',
       'Capgemini Engineering', 'jungwild.io', 'Nextra Partners',
       'Blankfactor', 'Ashley Kate HR &amp; Finance', 'TransPerfect',
       'Opto Engineering', 'Adecco', 'Herzum', 'Sanitas', 'SThree',
       'Unity', 'FRISS', 'Back Market', 'Technische Universiteit Delft',
       'Inari', 'Endava', 'Royal HaskoningDHV', 'RINA', 'Plato Group',
       'City of Amsterdam', 'Unilever', 'Flix',
       'Dovestone Technology Solutions', 'Itinera', 'Sharpist', 'SQUAD',
       'Cognizant Mobility', 'Lincoln France', 'Microsoft', 'B&S',
       'Wayflyer', 'Employerland', '💻 LGA IT',
       'Amazon Web Services (AWS)', 'Coca-Cola Europacific Partners',
       'William Blair', 'DB Schenker', '3M', 'Stora Enso', 'Expleo Group',
       'Northpool B.V.', 'VOX SOLUTIONS', 'Scandit', 'Rhenus Logistics',
       'InSites Consulting', 'Wrike', "Université Côte d'Azur",
       'Texas Instruments', 'Valeo', 'Sauce Labs',
       'DEERFOOT I.T. RESOURCES LIMITED', 'Deed', 'RWS Group', 'KNIME',
       'Crunch Analytics', 'Paul Gough Media LLC',
       'Mondelēz International', 'Office for National Statistics',
       'Arvato Financial Solutions', 'Preligens', 'ista', 'Eni', 'Eniro',
       'Mishcon de Reya LLP', 'Nubank', 'M2 Financial Modeling Group',
       'Flowserve Corporation', 'Pirelli', 'Ubiquiti Inc.', 'GROUPE SOS',
       'Studio Cappello | Search Driven Digital Marketing Agency',
       'RTB House', 'Avanade', 'Advisory Group TEST Human Resources',
       'Nexans', 'MA (Montreal Associates)', 'Oriflame Cosmetics',
       'Lumen Spei Digital', 'AUTODOC', 'NaraCamicie', 'Bitrise'],
      dtype=object)

In [30]:
 def about_company(cell):
    try:
        return BeautifulSoup(cell).find('div', class_ = 'mt5 mb2').find_all('li')[1].text.strip()
    except:
        return np.nan

In [31]:
df['about_company'] = df['html'].apply(about_company)

Судить полные дудликаты это или нет, еще рано, предположительно, что требуются разные специалисты, города и страны. Посмотрим подробнее, с добавление наименования вакансии.

## Название вакансии

In [32]:
df['title'] = df['html'].apply(lambda x:  BeautifulSoup(x).find('h2').text.strip())

In [33]:
pass_and_duplicat (df['title'])

Дубликатов: 260
Пропущенных позиций:
0.0

In [34]:
df[['location', 'about_company', 'title']].duplicated().sum()

17

In [35]:
df.groupby('company_name')['company_name'].count().sort_values(ascending = False).head(20)

company_name
TELUS International AI Data Solutions    54
TELUS International                      28
Appen                                    27
Spotify                                  25
Pareto                                   20
Datadog                                  17
Genius Sports                            11
Accenture Italia                         10
Accenture España                          8
Deloitte                                  6
Societe Generale                          6
Positive Thinking Company                 6
Nike                                      5
LSEG (London Stock Exchange Group)        5
Extia                                     5
BearingPoint                              5
Microsoft                                 5
TotalEnergies                             5
EY                                        4
Liebherr Group                            4
Name: company_name, dtype: int64

Смтрим выборочно несколько повторяющихся компаний.

In [36]:
df.query('company_name == "TELUS International AI Data Solutions"').groupby(['country', 'city', 'title']).count()

                                                                                              Unnamed: 0  \
country        city                       title
Belgium        Flemish Brabant            Media Search Analyst | French Speaker                        1
Czechia        Ostrava                    Position Vacant for Czech speaker                            1
Finland        Lahti                      Online Data Analyst                                          1
               Turku                      Part-time Work Opportunity | Online Data Analyst             1
France         Provence-Alpes-Côte d'Azur Online Data Analyst | French Speaker                         1
Germany        Berlin                     Data Analyst                                                 2
                                          Data Analyst (Part-time)                                     1
                                          Media Search Analyst - German (DE)                           1
                                          Remote | Data Analyst                                        1
               Hamburg                    Data Analyst                                                 1
                                          Remote | Data Analyst                                        1
               Mecklenburg-West Pomerania Data Analyst                                                 1
               North Rhine-Westphalia     Data Analyst                                                 1
Hungary        Szeged                     Position Vacant for Hungarian speaker                        1
               Szombathely                Freelance (HUNGARIAN)                                        1
Norway         Bergen                     Social Media Analyst                                         1
               Kleppestø                  Social Media Analyst                                         1
               Straume                    Social Media Analyst                                         1
               Vefsn                      Remote Opportunity for Norwegian speakers | Med...           1
Poland         Biała Podlaska             Internet Analyst (Remote)                                    1
               Chełm                      Data Analyst                                                 1
               Cracow                     Internet Analyst (Remote Set-up)                             1
               Grudziadz                  Data Analyst                                                 1
               Lodz                       Remote| Data Analyst                                         1
                                          Work From Home | Data Analyst                                1
               Przemyśl                   Data Analyst                                                 1
               Radom                      Data Analyst                                                 1
               Warsaw                     Internet Analyst (Remote Set-up)                             1
                                          Remote | Internet Analyst                                    1
               Zamosc                     Data Analyst                                                 1
               Śląskie                    Data Analyst                                                 1
Slovakia       Kosice                     Internet Analyst (Part-time)                                 1
               Nitra Region               Internet Analyst (Part-time)                                 1
               Trenčín                    Internet Analyst                                             1
               Zilina                     Internet Analyst - Remote                                    1
Sweden         Laholm                     Online Data Analyst                                          1
               Norrköping                 Online Data Analyst                                          1
                                          Online Data Analyst | Flexible Work                          1
               Skara                      Online Data Analyst                                          1
United Kingdom Edinburgh                  Online Data Analyst | REMOTE OPPORTUNITY                     1
               Salford                    Online Data Analyst | REMOTE OPPORTUNITY                     1
               West Midlands              Online Data Analyst in the UK                                1

                                                                                              html  \
country        city                       title
Belgium        Flemish Brabant            Media Search Analyst | French Speaker                  1
Czechia        Ostrava                    Position Vacant for Czech speaker                      1
Finland        Lahti                      Online Data Analyst                                    1
               Turku                      Part-time Work Opportunity | Online Data Analyst       1
France         Provence-Alpes-Côte d'Azur Online Data Analyst | French Speaker                   1
Germany        Berlin                     Data Analyst                                           2
                                          Data Analyst (Part-time)                               1
                                          Media Search Analyst - German (DE)                     1
                                          Remote | Data Analyst                                  1
               Hamburg                    Data Analyst                                           1
                                          Remote | Data Analyst                                  1
               Mecklenburg-West Pomerania Data Analyst                                           1
               North Rhine-Westphalia     Data Analyst                                           1
Hungary        Szeged                     Position Vacant for Hungarian speaker                  1
               Szombathely                Freelance (HUNGARIAN)                                  1
Norway         Bergen                     Social Media Analyst                                   1
               Kleppestø                  Social Media Analyst                                   1
               Straume                    Social Media Analyst                                   1
               Vefsn                      Remote Opportunity for Norwegian speakers | Med...     1
Poland         Biała Podlaska             Internet Analyst (Remote)                              1
               Chełm                      Data Analyst                                           1
               Cracow                     Internet Analyst (Remote Set-up)                       1
               Grudziadz                  Data Analyst                                           1
               Lodz                       Remote| Data Analyst                                   1
                                          Work From Home | Data Analyst                          1
               Przemyśl                   Data Analyst                                           1
               Radom                      Data Analyst                                           1
               Warsaw                     Internet Analyst (Remote Set-up)                       1
                                          Remote | Internet Analyst                              1
               Zamosc                     Data Analyst                                           1
               Śląskie                    Data Analyst                                           1
Slovakia       Kosice                     Internet Analyst (Part-time)                           1
               Nitra Region               Internet Analyst (Part-time)                           1
               Trenčín                    Internet Analyst                                       1
               Zilina                     Internet Analyst - Remote                              1
Sweden         Laholm                     Online Data Analyst                                    1
               Norrköping                 Online Data Analyst                                    1
                                          Online Data Analyst | Flexible Work                    1
               Skara                      Online Data Analyst                                    1
United Kingdom Edinburgh                  Online Data Analyst | REMOTE OPPORTUNITY               1
               Salford                    Online Data Analyst | REMOTE OPPORTUNITY               1
               West Midlands              Online Data Analyst in the UK                          1

                                                                                              link  \
country        city                       title
Belgium        Flemish Brabant            Media Search Analyst | French Speaker                  1
Czechia        Ostrava                    Position Vacant for Czech speaker                      1
Finland        Lahti                      Online Data Analyst                                    1
               Turku                      Part-time Work Opportunity | Online Data Analyst       1
France         Provence-Alpes-Côte d'Azur Online Data Analyst | French Speaker                   1
Germany        Berlin                     Data Analyst                                           2
                                          Data Analyst (Part-time)                               1
                                          Media Search Analyst - German (DE)                     1
                                          Remote | Data Analyst                                  1
               Hamburg                    Data Analyst                                           1
                                          Remote | Data Analyst                                  1
               Mecklenburg-West Pomerania Data Analyst                                           1
               North Rhine-Westphalia     Data Analyst                                           1
Hungary        Szeged                     Position Vacant for Hungarian speaker                  1
               Szombathely                Freelance (HUNGARIAN)                                  1
Norway         Bergen                     Social Media Analyst                                   1
               Kleppestø                  Social Media Analyst                                   1
               Straume                    Social Media Analyst                                   1
               Vefsn                      Remote Opportunity for Norwegian speakers | Med...     1
Poland         Biała Podlaska             Internet Analyst (Remote)                              1
               Chełm                      Data Analyst                                           1
               Cracow                     Internet Analyst (Remote Set-up)                       1
               Grudziadz                  Data Analyst                                           1
               Lodz                       Remote| Data Analyst                                   1
                                          Work From Home | Data Analyst                          1
               Przemyśl                   Data Analyst                                           1
               Radom                      Data Analyst                                           1
               Warsaw                     Internet Analyst (Remote Set-up)                       1
                                          Remote | Internet Analyst                              1
               Zamosc                     Data Analyst                                           1
               Śląskie                    Data Analyst                                           1
Slovakia       Kosice                     Internet Analyst (Part-time)                           1
               Nitra Region               Internet Analyst (Part-time)                           1
               Trenčín                    Internet Analyst                                       1
               Zilina                     Internet Analyst - Remote                              1
Sweden         Laholm                     Online Data Analyst                                    1
               Norrköping                 Online Data Analyst                                    1
                                          Online Data Analyst | Flexible Work                    1
               Skara                      Online Data Analyst                                    1
United Kingdom Edinburgh                  Online Data Analyst | REMOTE OPPORTUNITY               1
               Salford                    Online Data Analyst | REMOTE OPPORTUNITY               1
               West Midlands              Online Data Analyst in the UK                          1

                                                                                              location  \
country        city                       title
Belgium        Flemish Brabant            Media Search Analyst | French Speaker                      1
Czechia        Ostrava                    Position Vacant for Czech speaker                          1
Finland        Lahti                      Online Data Analyst                                        1
               Turku                      Part-time Work Opportunity | Online Data Analyst           1
France         Provence-Alpes-Côte d'Azur Online Data Analyst | French Speaker                       1
Germany        Berlin                     Data Analyst                                               2
                                          Data Analyst (Part-time)                                   1
                                          Media Search Analyst - German (DE)                         1
                                          Remote | Data Analyst                                      1
               Hamburg                    Data Analyst                                               1
                                          Remote | Data Analyst                                      1
               Mecklenburg-West Pomerania Data Analyst                                               1
               North Rhine-Westphalia     Data Analyst                                               1
Hungary        Szeged                     Position Vacant for Hungarian speaker                      1
               Szombathely                Freelance (HUNGARIAN)                                      1
Norway         Bergen                     Social Media Analyst                                       1
               Kleppestø                  Social Media Analyst                                       1
               Straume                    Social Media Analyst                                       1
               Vefsn                      Remote Opportunity for Norwegian speakers | Med...         1
Poland         Biała Podlaska             Internet Analyst (Remote)                                  1
               Chełm                      Data Analyst                                               1
               Cracow                     Internet Analyst (Remote Set-up)                           1
               Grudziadz                  Data Analyst                                               1
               Lodz                       Remote| Data Analyst                                       1
                                          Work From Home | Data Analyst                              1
               Przemyśl                   Data Analyst                                               1
               Radom                      Data Analyst                                               1
               Warsaw                     Internet Analyst (Remote Set-up)                           1
                                          Remote | Internet Analyst                                  1
               Zamosc                     Data Analyst                                               1
               Śląskie                    Data Analyst                                               1
Slovakia       Kosice                     Internet Analyst (Part-time)                               1
               Nitra Region               Internet Analyst (Part-time)                               1
               Trenčín                    Internet Analyst                                           1
               Zilina                     Internet Analyst - Remote                                  1
Sweden         Laholm                     Online Data Analyst                                        1
               Norrköping                 Online Data Analyst                                        1
                                          Online Data Analyst | Flexible Work                        1
               Skara                      Online Data Analyst                                        1
United Kingdom Edinburgh                  Online Data Analyst | REMOTE OPPORTUNITY                   1
               Salford                    Online Data Analyst | REMOTE OPPORTUNITY                   1
               West Midlands              Online Data Analyst in the UK                              1

                                                                                              company_name  \
country        city                       title
Belgium        Flemish Brabant            Media Search Analyst | French Speaker                          1
Czechia        Ostrava                    Position Vacant for Czech speaker                              1
Finland        Lahti                      Online Data Analyst                                            1
               Turku                      Part-time Work Opportunity | Online Data Analyst               1
France         Provence-Alpes-Côte d'Azur Online Data Analyst | French Speaker                           1
Germany        Berlin                     Data Analyst                                                   2
                                          Data Analyst (Part-time)                                       1
                                          Media Search Analyst - German (DE)                             1
                                          Remote | Data Analyst                                          1
               Hamburg                    Data Analyst                                                   1
                                          Remote | Data Analyst                                          1
               Mecklenburg-West Pomerania Data Analyst                                                   1
               North Rhine-Westphalia     Data Analyst                                                   1
Hungary        Szeged                     Position Vacant for Hungarian speaker                          1
               Szombathely                Freelance (HUNGARIAN)                                          1
Norway         Bergen                     Social Media Analyst                                           1
               Kleppestø                  Social Media Analyst                                           1
               Straume                    Social Media Analyst                                           1
               Vefsn                      Remote Opportunity for Norwegian speakers | Med...             1
Poland         Biała Podlaska             Internet Analyst (Remote)                                      1

In [37]:
df.query('company_name == "TELUS International"').groupby(['country', 'city', 'title']).count()

                                                                  Unnamed: 0  \
country     city              title
Belgium     West Flanders     Online Data Analyst - Belgium                1
Croatia     Split             Online Data Analyst                          1
            Zadar             Online Data Analyst                          1
Denmark     Aalborg           Online Data Analyst                          1
            Viborg            Online Data Analyst                          1
Finland     Southwest Finland Online Data Analyst                          1
France      Nantes            Online Data Analyst                          1
Hungary     Budapest          Online Data Analyst - Hungary                1
Ireland     Cork              Language Data Analyst                        1
                              Language Data Analyst - Hebrew               1
Netherlands Apeldoorn         Data Analyst                                 1
            Assen             Search Engine Optimization Analyst           1
Norway      Oslo              Online Data Analyst                          1
            Trondheim         Online Data Analyst                          1
            Vestland          Online Data Analyst                          1
Slovakia    Bratislava        Online Data Analyst                          1
                              Online Data Analyst - Slovakia               1
            Kosice            Online Data Analyst                          1
            Poprad            Online Data Analyst                          1
            Zilina            Online Data Analyst                          1
Slovenia    Koper             Online Data Analyst                          1
            Ptuj              Online Data Analyst                          1

                                                                  html  link  \
country     city              title
Belgium     West Flanders     Online Data Analyst - Belgium          1     1
Croatia     Split             Online Data Analyst                    1     1
            Zadar             Online Data Analyst                    1     1
Denmark     Aalborg           Online Data Analyst                    1     1
            Viborg            Online Data Analyst                    1     1
Finland     Southwest Finland Online Data Analyst                    1     1
France      Nantes            Online Data Analyst                    1     1
Hungary     Budapest          Online Data Analyst - Hungary          1     1
Ireland     Cork              Language Data Analyst                  1     1
                              Language Data Analyst - Hebrew         1     1
Netherlands Apeldoorn         Data Analyst                           1     1
            Assen             Search Engine Optimization Analyst     1     1
Norway      Oslo              Online Data Analyst                    1     1
            Trondheim         Online Data Analyst                    1     1
            Vestland          Online Data Analyst                    1     1
Slovakia    Bratislava        Online Data Analyst                    1     1
                              Online Data Analyst - Slovakia         1     1
            Kosice            Online Data Analyst                    1     1
            Poprad            Online Data Analyst                    1     1
            Zilina            Online Data Analyst                    1     1
Slovenia    Koper             Online Data Analyst                    1     1
            Ptuj              Online Data Analyst                    1     1

                                                                  location  \
country     city              title
Belgium     West Flanders     Online Data Analyst - Belgium              1
Croatia     Split             Online Data Analyst                        1
            Zadar             Online Data Analyst                        1
Denmark     Aalborg           Online Data Analyst                        1
            Viborg            Online Data Analyst                        1
Finland     Southwest Finland Online Data Analyst                        1
France      Nantes            Online Data Analyst                        1
Hungary     Budapest          Online Data Analyst - Hungary              1
Ireland     Cork              Language Data Analyst                      1
                              Language Data Analyst - Hebrew             1
Netherlands Apeldoorn         Data Analyst                               1
            Assen             Search Engine Optimization Analyst         1
Norway      Oslo              Online Data Analyst                        1
            Trondheim         Online Data Analyst                        1
            Vestland          Online Data Analyst                        1
Slovakia    Bratislava        Online Data Analyst                        1
                              Online Data Analyst - Slovakia             1
            Kosice            Online Data Analyst                        1
            Poprad            Online Data Analyst                        1
            Zilina            Online Data Analyst                        1
Slovenia    Koper             Online Data Analyst                        1
            Ptuj              Online Data Analyst                        1

                                                                  company_name  \
country     city              title
Belgium     West Flanders     Online Data Analyst - Belgium                  1
Croatia     Split             Online Data Analyst                            1
            Zadar             Online Data Analyst                            1
Denmark     Aalborg           Online Data Analyst                            1
            Viborg            Online Data Analyst                            1
Finland     Southwest Finland Online Data Analyst                            1
France      Nantes            Online Data Analyst                            1
Hungary     Budapest          Online Data Analyst - Hungary                  1
Ireland     Cork              Language Data Analyst                          1
                              Language Data Analyst - Hebrew                 1
Netherlands Apeldoorn         Data Analyst                                   1
            Assen             Search Engine Optimization Analyst             1
Norway      Oslo              Online Data Analyst                            1
            Trondheim         Online Data Analyst                            1
            Vestland          Online Data Analyst                            1
Slovakia    Bratislava        Online Data Analyst                            1
                              Online Data Analyst - Slovakia                 1
            Kosice            Online Data Analyst                            1
            Poprad            Online Data Analyst                            1
            Zilina            Online Data Analyst                            1
Slovenia    Koper             Online Data Analyst                            1
            Ptuj              Online Data Analyst                            1

                                                                  about_company
country     city              title
Belgium     West Flanders     Online Data Analyst - Belgium                   1
Croatia     Split             Online Data Analyst                             1
            Zadar             Online Data Analyst                             1
Denmark     Aalborg           Online Data Analyst                             1
            Viborg            Online Data Analyst                             1
Finland     Southwest Finland Online Data Analyst                             1
France      Nantes            Online Data Analyst                             1
Hungary     Budapest          Online Data Analyst - Hungary                   1
Ireland     Cork              Language Data Analyst                           1
                              Language Data Analyst - Hebrew                  1
Netherlands Apeldoorn         Data Analyst                                    1
            Assen             Search Engine Optimization Analyst              1
Norway      Oslo              Online Data Analyst                             1
            Trondheim         Online Data Analyst                             1
            Vestland          Online Data Analyst                             1
Slovakia    Bratislava        Online Data Analyst                             1
                              Online Data Analyst - Slovakia                  1
            Kosice            Online Data Analyst                             1
            Poprad            Online Data Analyst                             1
            Zilina            Online Data Analyst                             1
Slovenia    Koper             Online Data Analyst                             1
            Ptuj              Online Data Analyst                             1

TELUS International AI Data Solutions дочернее предприятие TELUS International, дубликатами считать не будем.

In [38]:
df.query('company_name == "Accenture Italia"').groupby(['country', 'city', 'title']).count()

                                                                  Unnamed: 0  \
country city  title
Italy   Milan Enterprise Architect Junior Analyst [Online / P...           1
              Junior Data & AI Engineer                                    1
              Risk Analytics & AI Professionals                            1
              Technology Strategy & Advisory Junior Analyst                1
        Rome  Junior Data & AI Engineer                                    1
              Technology Strategy & Advisory Junior Analyst                1
        Turin Data Junior Analyst [Online / Phone Recruitment]             2
              Junior Data & AI Engineer                                    1
              Junior SAP Analyst                                           1

                                                                  html  link  \
country city  title
Italy   Milan Enterprise Architect Junior Analyst [Online / P...     1     1
              Junior Data & AI Engineer                              1     1
              Risk Analytics & AI Professionals                      1     1
              Technology Strategy & Advisory Junior Analyst          1     1
        Rome  Junior Data & AI Engineer                              1     1
              Technology Strategy & Advisory Junior Analyst          1     1
        Turin Data Junior Analyst [Online / Phone Recruitment]       2     2
              Junior Data & AI Engineer                              1     1
              Junior SAP Analyst                                     1     1

                                                                  location  \
country city  title
Italy   Milan Enterprise Architect Junior Analyst [Online / P...         1
              Junior Data & AI Engineer                                  1
              Risk Analytics & AI Professionals                          1
              Technology Strategy & Advisory Junior Analyst              1
        Rome  Junior Data & AI Engineer                                  1
              Technology Strategy & Advisory Junior Analyst              1
        Turin Data Junior Analyst [Online / Phone Recruitment]           2
              Junior Data & AI Engineer                                  1
              Junior SAP Analyst                                         1

                                                                  company_name  \
country city  title
Italy   Milan Enterprise Architect Junior Analyst [Online / P...             1
              Junior Data & AI Engineer                                      1
              Risk Analytics & AI Professionals                              1
              Technology Strategy & Advisory Junior Analyst                  1
        Rome  Junior Data & AI Engineer                                      1
              Technology Strategy & Advisory Junior Analyst                  1
        Turin Data Junior Analyst [Online / Phone Recruitment]               2
              Junior Data & AI Engineer                                      1
              Junior SAP Analyst                                             1

                                                                  about_company
country city  title
Italy   Milan Enterprise Architect Junior Analyst [Online / P...              1
              Junior Data & AI Engineer                                       1
              Risk Analytics & AI Professionals                               1
              Technology Strategy & Advisory Junior Analyst                   1
        Rome  Junior Data & AI Engineer                                       1
              Technology Strategy & Advisory Junior Analyst                   1
        Turin Data Junior Analyst [Online / Phone Recruitment]                2
              Junior Data & AI Engineer                                       1
              Junior SAP Analyst                                              1

In [39]:
df.query('company_name == "Pareto"').groupby(['country', 'city', 'title']).count()

                                                       Unnamed: 0  html  link  \
country  city         title
Portugal Albufeira    Graduate Developer (J12998)               1     1     1
                      Junior Analyst (J12998)                   1     1     1
         Faro         Junior Developer (J12998)                 1     1     1
         Tavira       Graduate Developer (J12998)               1     1     1
                      Junior Analyst (J12998)                   1     1     1
Spain    Albacete     Junior Analyst (J12996)                   1     1     1
         Alicante     Junior Analyst (J12996)                   1     1     1
         Badajoz      Graduate Developer (J12996)               1     1     1
         Barcelona    Graduate Developer (J12996)               2     2     2
         Cadiz        Graduate Developer (J12996)               1     1     1
         Dos Hermanas Graduate Developer (J12995)               1     1     1
                      Junior Analyst (J12995)                   1     1     1
         Granada      Junior Analyst (J12996)                   1     1     1
         Murcia       Graduate Developer (J12996)               1     1     1
         Málaga       Early Career Developer (J12996)           1     1     1
         Palma        Junior Analyst (J12996)                   1     1     1
         Salamanca    Junior Developer (J12996)                 1     1     1
         Valladolid   Junior Analyst (J12996)                   1     1     1

                                                       location  company_name  \
country  city         title
Portugal Albufeira    Graduate Developer (J12998)             1             1
                      Junior Analyst (J12998)                 1             1
         Faro         Junior Developer (J12998)               1             1
         Tavira       Graduate Developer (J12998)             1             1
                      Junior Analyst (J12998)                 1             1
Spain    Albacete     Junior Analyst (J12996)                 1             1
         Alicante     Junior Analyst (J12996)                 1             1
         Badajoz      Graduate Developer (J12996)             1             1
         Barcelona    Graduate Developer (J12996)             2             2
         Cadiz        Graduate Developer (J12996)             1             1
         Dos Hermanas Graduate Developer (J12995)             1             1
                      Junior Analyst (J12995)                 1             1
         Granada      Junior Analyst (J12996)                 1             1
         Murcia       Graduate Developer (J12996)             1             1
         Málaga       Early Career Developer (J12996)         1             1
         Palma        Junior Analyst (J12996)                 1             1
         Salamanca    Junior Developer (J12996)               1             1
         Valladolid   Junior Analyst (J12996)                 1             1

                                                       about_company
country  city         title
Portugal Albufeira    Graduate Developer (J12998)                  1
                      Junior Analyst (J12998)                      1
         Faro         Junior Developer (J12998)                    1
         Tavira       Graduate Developer (J12998)                  1
                      Junior Analyst (J12998)                      1
Spain    Albacete     Junior Analyst (J12996)                      1
         Alicante     Junior Analyst (J12996)                      1
         Badajoz      Graduate Developer (J12996)                  1
         Barcelona    Graduate Developer (J12996)                  2
         Cadiz        Graduate Developer (J12996)                  1
         Dos Hermanas Graduate Developer (J12995)                  1
                      Junior Analyst (J12995)                      1
         Granada      Junior Analyst (J12996)                      1
         Murcia       Graduate Developer (J12996)                  1
         Málaga       Early Career Developer (J12996)              1
         Palma        Junior Analyst (J12996)                      1
         Salamanca    Junior Developer (J12996)                    1
         Valladolid   Junior Analyst (J12996)                      1

In [40]:
df = (df.loc[df[['location', 'about_company', 'title']].duplicated(keep='first') != True].reset_index(drop=True))
df[['location', 'about_company', 'title']].duplicated(keep='first').sum()

0

## Размер компании и сфера

In [41]:
df['about_company'].str.split('\n')[0]

['10,001+ employees · Retail Luxury Goods and Jewelry']

In [42]:
df_new = df['about_company'].str.split('·',expand=True)

In [43]:
df_new.columns=['size','sector']
df_new.head()

                      size                            sector
0       10,001+ employees    Retail Luxury Goods and Jewelry
1  5,001-10,000 employees      IT Services and IT Consulting
2       10,001+ employees      IT Services and IT Consulting
3       10,001+ employees      IT Services and IT Consulting
4       10,001+ employees      IT Services and IT Consulting

In [44]:
final_df = pd.concat([df,df_new],axis=1)
final_df.head()

,Unnamed: 0,html,link,location,city,country,company_name,about_company,title,size,sector
0,0,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges,France,Hermès,"10,001+ employees · Retail Luxury Goods and Je...",Stage - Assistant Ingénieur Qualité - Beyrand ...,"10,001+ employees",Retail Luxury Goods and Jewelry
1,1,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse,France,AUSY,"5,001-10,000 employees · IT Services and IT Co...","développeur matlab/simulink, secteur automobil...","5,001-10,000 employees",IT Services and IT Consulting
2,2,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden,TELUS International AI Data Solutions,"10,001+ employees · IT Services and IT Consulting",Online Data Analyst,"10,001+ employees",IT Services and IT Consulting
3,3,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium,TELUS International,"10,001+ employees · IT Services and IT Consulting",Online Data Analyst - Belgium,"10,001+ employees",IT Services and IT Consulting
4,4,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany,TELUS International AI Data Solutions,"10,001+ employees · IT Services and IT Consulting",Data Analyst,"10,001+ employees",IT Services and IT Consulting

Для удобства визуализации распределим компании на группы по количеству сотрудников.

In [45]:
final_df.groupby('size')['size'].count().sort_values(ascending = False)

size
10,001+ employees                                                                                   288
1,001-5,000 employees                                                                               131
5,001-10,000 employees                                                                               90
201-500 employees                                                                                    63
501-1,000 employees                                                                                  61
51-200 employees                                                                                     41
11-50 employees                                                                                      29
1-10 employees                                                                                       18
11-50 employees                                                                                       5
51-200 employees                                                                                      5
1-10 employees                                                                                        4
201-500 employees                                                                                     3
See recent hiring trends for www.TeamQuest.pl. Unlock more Premium insights for free                  2
See recent hiring trends for Software * IT. Unlock more Premium insights for free                     2
See how you compare to 6 applicants. Unlock more Premium insights for free                            1
See recent hiring trends for SECA SAS. Unlock more Premium insights for free                          1
See recent hiring trends for Lumen Spei Digital. Unlock more Premium insights for free                1
See recent hiring trends for Ashley Kate HR &amp; Finance. Unlock more Premium insights for free      1
See how you compare to 14 applicants. Unlock more Premium insights for free                           1
See how you compare to 4 applicants. Unlock more Premium insights for free                            1
See how you compare to 3 applicants. Unlock more Premium insights for free                            1
IT Services and IT Consulting                                                                         1
Government Administration                                                                             1
10,001+ employees                                                                                     1
Software Development                                                                                  1
Name: size, dtype: int64

In [46]:
def company_size(size):
    if size == '1-10 employees ':
        return 'microenterprise'
    
    elif size == '11-50 employees ':
        return 'very small company'
    
    elif size == '51-200 employees ':
        return 'small company'
    
    elif size == '201-500 employees ' or size == '201-500 employees':
        return 'medium company'
    
    elif size == '501-1,000 employees ' or size == '1,001-5,000 employees ':
        return 'big company'
    
    elif size == '5,001-10,000 employees ':
        return 'large business'
    
    elif size == '10,001+ employees ':
        return 'corporation'     
    return 'not defined'

In [47]:
final_df['company_size'] = final_df['size'].apply(company_size)

In [48]:
final_df.groupby('company_size')['company_size'].count().sort_values(ascending = False)

company_size
corporation           288
big company           192
large business         90
medium company         66
small company          41
not defined            31
very small company     29
microenterprise        18
Name: company_size, dtype: int64

In [49]:
final_df.groupby('sector')['sector'].unique().count()

88

In [50]:
final_df.groupby('sector')['sector'].count().sort_values(ascending = False).head(20)

sector
 IT Services and IT Consulting                            221
 Staffing and Recruiting                                   76
 Software Development                                      44
 Business Consulting and Services                          43
 Financial Services                                        29
 Musicians                                                 25
 Banking                                                   18
 Motor Vehicle Manufacturing                               18
 Retail                                                    17
 Technology, Information and Internet                      16
 Human Resources Services                                  12
 Technology, Information and Media                         11
 Oil and Gas                                               11
 Semiconductor Manufacturing                                9
 Advertising Services                                       9
 Appliances, Electrical, and Electronics Manufacturing      8
 Industrial Machinery Manufacturing                         8
 Civil Engineering                                          7
 Travel Arrangements                                        7
 Accounting                                                 6
Name: sector, dtype: int64

## Тип занятости

In [51]:
def get_workplace(cell):
    try:
        return BeautifulSoup(cell).find('span', class_ = 'jobs-unified-top-card__workplace-type').text.strip()
    except:
        return np.nan

In [52]:
final_df['workplace_type'] = final_df['html'].apply(get_workplace)

In [53]:
final_df['workplace_type'].unique()

array(['On-site', 'Remote', 'Hybrid', nan], dtype=object)

## Количество кандидатов

In [54]:
def get_candidats(cell):
    try:
        return BeautifulSoup(cell).find('span', class_ = 'jobs-unified-top-card__applicant-count').text.strip()
    except:
        return np.nan

In [55]:
final_df['candidats'] = df['html'].apply(get_candidats)

In [56]:
final_df['candidats'].str.split(' ')[1]

['6', 'applicants']

In [57]:
final_df_new = final_df['candidats'].str.split(' ',expand=True)

In [58]:
final_df_new.columns=['total_candidates','applicants']
final_df_new.head()

  total_candidates  applicants
0              NaN         NaN
1                6  applicants
2               12  applicants
3               11  applicants
4                2  applicants

In [59]:
final_df = pd.concat([final_df,final_df_new],axis=1)
final_df.head()

,Unnamed: 0,html,link,location,city,country,company_name,about_company,title,size,sector,company_size,workplace_type,candidats,total_candidates,applicants
0,0,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges,France,Hermès,"10,001+ employees · Retail Luxury Goods and Je...",Stage - Assistant Ingénieur Qualité - Beyrand ...,"10,001+ employees",Retail Luxury Goods and Jewelry,corporation,On-site,NaN,NaN,NaN
1,1,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse,France,AUSY,"5,001-10,000 employees · IT Services and IT Co...","développeur matlab/simulink, secteur automobil...","5,001-10,000 employees",IT Services and IT Consulting,large business,On-site,6 applicants,6,applicants
2,2,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden,TELUS International AI Data Solutions,"10,001+ employees · IT Services and IT Consulting",Online Data Analyst,"10,001+ employees",IT Services and IT Consulting,corporation,Remote,12 applicants,12,applicants
3,3,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium,TELUS International,"10,001+ employees · IT Services and IT Consulting",Online Data Analyst - Belgium,"10,001+ employees",IT Services and IT Consulting,corporation,Remote,11 applicants,11,applicants
4,4,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany,TELUS International AI Data Solutions,"10,001+ employees · IT Services and IT Consulting",Data Analyst,"10,001+ employees",IT Services and IT Consulting,corporation,Remote,2 applicants,2,applicants

## Дата вакансии

In [60]:
def get_date(cell):
    try:
        return BeautifulSoup(cell).find('span', class_ = 'jobs-unified-top-card__posted-date').text.strip()
    except:
        np.nan

In [61]:
final_df['date'] = final_df['html'].apply(get_date)

In [62]:
final_df['date'].unique()

# 2022_09_07 - дата выгрузки

array(['13 minutes ago', '4 days ago', '6 days ago', '8 hours ago',
       '5 days ago', '2 days ago', '1 hour ago', '22 hours ago',
       '1 day ago', '5 hours ago', '10 hours ago', '4 hours ago',
       '37 minutes ago', '7 hours ago', '11 hours ago', '3 hours ago',
       '16 hours ago', '23 hours ago', '6 hours ago', '2 hours ago',
       '15 hours ago', '19 hours ago', '21 hours ago', '9 hours ago',
       '14 hours ago', '3 days ago', '13 hours ago', '18 hours ago',
       '10 minutes ago', '20 hours ago', '6 minutes ago', '4 minutes ago',
       '1 week ago', '45 minutes ago', '24 minutes ago', '28 minutes ago'],
      dtype=object)

In [63]:
final_df['date'] = final_df['date'].replace({' days ago': '', ' day ago': '', '1 week ago': '7'}, regex=True)

In [64]:
final_df['date'] = final_df['date'].str.replace('.* ago', '0', regex=True)

In [65]:
final_df['date'] = final_df['date'].astype(int)

In [66]:
final_df['date'] = final_df['date'].apply(lambda x: date(2022, 9, 7) - timedelta(days=x))

## Хард скил

In [67]:
final_df['description'] = final_df['html'].apply(lambda x: BeautifulSoup(x).find('div', {'id':'job-details'}).text.strip())

In [68]:
skills = (['datahub', 'api', 'github', 'google analytics', 'adobe analytics', 'ibm coremetrics', 'omniture'
            'gitlab', 'erwin', 'hadoop', 'spark', 'hive'
           'databricks', 'aws', 'gcp', 'azure','excel',
            'redshift', 'bigquery', 'snowflake',  'hana'
            'grafana', 'kantar', 'spss', 
           'asana', 'basecamp', 'jira', 'dbeaver','trello', 'miro', 'salesforce', 
           'rapidminer', 'thoughtspot',  'power point',  'docker', 'jenkins','integrate.io', 'talend', 'apache nifi','aws glue','pentaho','google data flow',
             'azure data factory','xplenty','skyvia','iri voracity','xtract.io','dataddo', 'ssis',
             'hevo data','informatica','oracle data integrator','k2view','cdata sync','querysurge', 
             'rivery', 'dbconvert', 'alooma', 'stitch', 'fivetran', 'matillion','streamsets','blendo',
             'iri voracity','logstash', 'etleap', 'singer', 'apache camel','actian', 'airflow', 'luidgi', 'datastage',
           'python', 'vba', 'scala', ' r ', 'java script', 'julia', 'sql', 'matlab', 'java', 'html', 'c++', 'sas',
           'data studio', 'tableau', 'looker', 'powerbi', 'cognos', 'microstrategy', 'spotfire',
             'sap business objects','microsoft sql server', 'oracle business intelligence', 'yellowfin',
             'webfocus','sas visual analytics', 'targit', 'izenda',  'sisense', 'statsbot', 'panorama', 'inetsoft',
             'birst', 'domo', 'metabase', 'redash', 'power bi', 'alteryx', 'dataiku', 'qlik sense', 'qlikview'
          ])

In [69]:
def get_skills(cell):
    list_skills = []
    for skill in skills:
        if skill in cell.lower().replace('powerbi', 'power bi'):
            list_skills.append(skill)
    return list_skills

In [70]:
final_df['skills'] = final_df.description.apply(get_skills)

In [71]:
final_df.head()

,Unnamed: 0,html,link,location,city,country,company_name,about_company,title,size,sector,company_size,workplace_type,candidats,total_candidates,applicants,date,description,skills
0,0,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3258155313/?alt...,"Limoges, Nouvelle-Aquitaine, France",Limoges,France,Hermès,"10,001+ employees · Retail Luxury Goods and Je...",Stage - Assistant Ingénieur Qualité - Beyrand ...,"10,001+ employees",Retail Luxury Goods and Jewelry,corporation,On-site,NaN,NaN,NaN,2022-09-07,"LA SOCIETE : \nCréée en 1926, la société Beyra...","[api, excel]"
1,1,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3249651625/?alt...,"Toulouse, Occitanie, France",Toulouse,France,AUSY,"5,001-10,000 employees · IT Services and IT Co...","développeur matlab/simulink, secteur automobil...","5,001-10,000 employees",IT Services and IT Consulting,large business,On-site,6 applicants,6,applicants,2022-09-03,Dans le cadre de la croissance de nos activité...,[matlab]
2,2,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3248499929/?alt...,"Skara, Vastra Gotaland County, Sweden",Skara,Sweden,TELUS International AI Data Solutions,"10,001+ employees · IT Services and IT Consulting",Online Data Analyst,"10,001+ employees",IT Services and IT Consulting,corporation,Remote,12 applicants,12,applicants,2022-09-01,TELUS International AI-Data Solutions partners...,[]
3,3,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3248879065/?alt...,"West Flanders, Flemish Region, Belgium",West Flanders,Belgium,TELUS International,"10,001+ employees · IT Services and IT Consulting",Online Data Analyst - Belgium,"10,001+ employees",IT Services and IT Consulting,corporation,Remote,11 applicants,11,applicants,2022-09-01,TELUS International AI-Data Solutions partners...,[]
4,4,"\n <div>\n <div class=""\n jobs-deta...",https://linkedin.com/jobs/view/3257222954/?alt...,"Mecklenburg-West Pomerania, Germany",Mecklenburg-West Pomerania,Germany,TELUS International AI Data Solutions,"10,001+ employees · IT Services and IT Consulting",Data Analyst,"10,001+ employees",IT Services and IT Consulting,corporation,Remote,2 applicants,2,applicants,2022-09-07,TELUS International AI-Data Solutions partners...,[]

## Подготовка к визуализации

In [72]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 755 entries, 0 to 754
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        755 non-null    int64
 1   html              755 non-null    object
 2   link              755 non-null    object
 3   location          755 non-null    object
 4   city              696 non-null    object
 5   country           755 non-null    object
 6   company_name      755 non-null    object
 7   about_company     753 non-null    object
 8   title             755 non-null    object
 9   size              753 non-null    object
 10  sector            721 non-null    object
 11  company_size      755 non-null    object
 12  workplace_type    626 non-null    object
 13  candidats         680 non-null    object
 14  total_candidates  680 non-null    object
 15  applicants        680 non-null    object
 16  date              755 non-null    object
 17  description       755 non-null    object
 18  skills            755 non-null    object
dtypes: int64(1), object(18)
memory usage: 112.2+ KB

In [73]:
final_df['date'] = pd.to_datetime(final_df['date'], format='%Y-%m-%d %H:%M:%S')

In [74]:
clear_df = final_df[['city', 'country', 'company_name', 'title', 'size', 'sector', 'company_size', 'workplace_type', 'total_candidates', 'date', 'skills']]

In [75]:
clear_df.head()

,city,country,company_name,title,size,sector,company_size,workplace_type,total_candidates,date,skills
0,Limoges,France,Hermès,Stage - Assistant Ingénieur Qualité - Beyrand ...,"10,001+ employees",Retail Luxury Goods and Jewelry,corporation,On-site,NaN,2022-09-07,"[api, excel]"
1,Toulouse,France,AUSY,"développeur matlab/simulink, secteur automobil...","5,001-10,000 employees",IT Services and IT Consulting,large business,On-site,6,2022-09-03,[matlab]
2,Skara,Sweden,TELUS International AI Data Solutions,Online Data Analyst,"10,001+ employees",IT Services and IT Consulting,corporation,Remote,12,2022-09-01,[]
3,West Flanders,Belgium,TELUS International,Online Data Analyst - Belgium,"10,001+ employees",IT Services and IT Consulting,corporation,Remote,11,2022-09-01,[]
4,Mecklenburg-West Pomerania,Germany,TELUS International AI Data Solutions,Data Analyst,"10,001+ employees",IT Services and IT Consulting,corporation,Remote,2,2022-09-07,[]

In [76]:
clear_df['title'].unique()

array(['Stage - Assistant Ingénieur Qualité - Beyrand (H/F)',
       'développeur matlab/simulink, secteur automobile f/h',
       'Online Data Analyst', 'Online Data Analyst - Belgium',
       'Data Analyst', 'Alternant/ Alternante data analyst M/F',
       'Alternant(e) Data Scientist (H/F)',
       'ALTERNANCE- TOTALENERGIES RENEWABLES - Data Engineer (H/F)',
       'Data Engineer (with Python)', 'Junior Test Analyst',
       'Data Analyst H/F',
       'Data Scientist e-Commerce & Acquisition Monétique',
       'Ingénieur de recherche en traitement de données de mobilité H/F',
       'INGENIERO/A PRODUCTO Y CALIDAD AUTOMOCIÓN',
       'Data Scientist - Experience', 'Stage - Data Analyst (H/F)',
       'Data Analyst (F/H)', 'Data Analyst (Tableau)',
       '(Junior) Data Scientist (m/w/d)', 'Junior Data Scientist',
       'Data Scientist en stage H/F',
       'Software Development Engineer (Seville // Madrid) (Madrid or Seville)',
       'DATA SCIENTIST', 'Online Data Analyst | French Speaker',
       'Online Data Analyst | Flexible Work',
       'Assistant(e) Chef(fe) de Projet Innovation - Stage',
       'Football Statistician (Data Collection)',
       'Online Data Analyst | REMOTE OPPORTUNITY',
       'Football & Ice Hockey Statistician (Data Collection)',
       'Data engineer Big Data (H/F) - ELC', 'Data analyst',
       'Data Analyst (IT)', 'Data Analyst (m/f/d)',
       'Data Analyst (M/W/D)', 'Ingénieur Exploitation Junior H/F',
       'DATA SCIENTIST H/F TOULOUSE', 'Remote | Data Analyst',
       'Ingénieur.e Etudes et Développement Python (H/F)',
       'Backend Engineer - Revenue Engineering',
       'Handball Statistician (Data Collection)',
       '(Junior) Financial Data Scientist (w/m/d)',
       'Software Engineer ambito Core Banking (Neolaureati)',
       'Data Analyst SA1/SA2',
       "Data Scientist débutant - Digitalisation des outils d'intégrité Subsea / Digitalisation of Subsea Integrity tools (H/F)",
       'Data Scientist', 'Employé Administratif – Aide comptable',
       'Data analyst | Deals (M&A) | CDI | H/F',
       'Développeur Full Stack expérimenté H/F',
       'Data Analyst - AdSales & StoryWorks', 'Data Analytics Engineer',
       'Data Analyst with focus on solution design (m/f/d)',
       'Remote| Data Analyst', 'Data Analyst - (m/f/d)',
       'Développeur embarqué / python – Besançon, France (H/F)',
       'Alternance - Data Analyst/Dataviz Specialist H/F',
       'Partner Engineer - Consumer Experience', 'Junior Data Engineer',
       'Data Analyst  - Boursorama',
       'Technology Strategy & Advisory Junior Analyst',
       'Data Analyst in Forensic Technology Services team',
       'Data Analyst (m/w/d)', 'Junior Business Analyst',
       'Engineer Standard Cells Generation and Automation (f/m/div)*',
       'Analyste Exploitation Datacenter',
       'Ice Hockey Statistician (Data Collection)',
       'Digital Assets Weekend/Nights Trading Assistant',
       'Data Analyst with Python', 'Online Data Analyst in the UK',
       'Data Analyst Clickshare', 'Data Analyst - Associate',
       'Ingénieur Analyste GC/GCMS H/F', 'Technik kvality (M/Ž)',
       'Work From Home | Data Analyst', 'Internet Analyst',
       'Graduate Cloud Engineering Program (m/f/d)',
       'BIG DATA - Talent Campus', 'Data Analyst - Performance',
       'Consultant Data junior H/F - Data & Analytics',
       'Software Engineer Associate - Milano [DIG]',
       'Graduate Developer (J12995)', 'Data Data Analyst with Spanish',
       'Junior Functional Analyst ambito Canali',
       'Data Analyst (Part-time)', 'Data Analyst Customer Excellence',
       'Digital Assets Trader', 'Internet Analyst (Remote)',
       'Développeur Python (H/F)', 'Data/Analyst Data Translator (H/F)',
       'FULL STACK DEVELOPER', 'Graduate Developer (J12998)',
       'Junior Business Analyst (m/f/d)', 'Product Data Analyst',
       'Data Analyst - Oxfordshire', 'Développeur Siebel (H/F)',
       'Data Engineer - Experience Mission', 'Graduate Data Analyst',
       'Graduate Data Analyst 12 Month FTC', 'DATA ANALYST',
       'Product/Data Analyst', 'Data Analyst - Werkstudent (m/w/d)',
       'Data Engineer - Platform Foundations',
       'Superbe opportunité de Data analyst - 100% à Martigny',
       'Développeur python (H/F)', 'Optimization Data Scientist',
       'Azure Data Engineer', 'Data Engineer',
       'STAGE - DEVELOPPEUR FULLSTACK- Direction IT EXPERIENCE CLIENT (H/F)',
       'Python Developer', 'Digital Analytics Specialist', 'PMO Junior',
       'Développeur Back-End C# .NET Azure IoT H/F',
       'Customer Data Analyst (m/w/d)',
       'Data Analyst Düsseldorf/München gesucht at JSAN Consulting GmbH',
       'Geo Data Scientist', 'Software Engineer I',
       'Data Analyst E-Commerce (m/w/d)', 'CONSULTANT DATA ANALYST (F/H)',
       'Remote | Internet Analyst', 'STAGE - DATA ANALYST MARKETING F/H',
       'Data Internet Analyst', 'Data Analyst RH - F/H',
       'Data Engineer for Business Intelligence/ Data Analytics team',
       'Data Scientist - H/F', 'Data Development Analyst',
       'Data Analyst in Technology Team, Financial Crime Unit',
       'Application Engineer (Regulatory Data)', 'Junior Data Analyst',
       'Software engineer', 'Data Scientist (mf/d)',
       'Software Engineer Dataiku Online - Paris or Remote France',
       'Data Analyst (CDM 8 mois)', 'Asset Data Analyst',
       'DEVELOPPEUR PYTHON H/F NANTES', 'MACHINE LEARNING ENGINEER',
       'Junior Software/Cloud Engineer - Harderwijk', 'Data Engineer F/H',
       'Internet Analyst | Greater Bologna Metropolitan Area',
       'Data Analyst (m/w/d) - Automotive', 'Machine Learning Engineer',
       'Stage BI Business Intelligence', 'Junior Data Scientist-Stage',
       'Data Scientist - Part of Shell Graduate Programme',
       'Graduate Developer (J12996)', 'Product Data Analyst (V.I.E.) H/F',
       'DATA ANALYST - F/H - IDF', 'Software Engineer - Performance',
       'Engineer chemical supply CMP (w/m/div)*',
       'Data Analyst with Spanish (shifts), Corporate Actions',
       'Material Data Analyst', 'Junior Data & AI Engineer',
       'Data Analyst (Hydro)', 'Graduate Data Scientist',
       'Junior Python Developer',
       'Transaction Monitoring Data Scientist in Technology Team, Financial Crime Unit',
       'Data Scientist (w/m/d)', 'Data Analyst - Part time',
       'CONSULTANT.E JUNIOR- DEVELOPPEMENT DE NOUVEAUX BUSINESS',
       'Data Analyst (Product & Operations) - Sustainability',
       'Data Analyst/Data-Analystin - IT Forensik (m/w/d)',
       'Operations Data Analyst (They/She/He)', 'Analyst',
       'Analytics API/BE Developer', 'Analyst Big Data',
       '(Junior) H2 Modelling Analyst m/f/t', 'Data engineer - F/H',
       'Back-End Developer M/F',
       'Consultant Junior Digital Operations - Aéronautique/Spatial',
       'Enseignant-chercheur spécialité électronique embar',
       'Ingenieur Messtechnik (m/w/d)',
       'Data Analyst (m/f/d) Brand Marketing',
       'Internet Analyst - Remote',
       'Business Analyst / Consultant IT Sourcing (m/w/d) in Düsseldorf',
       'Ingénieur-e Optronique F/H', 'STAGE data analyst H/F',
       'ALTERNANT PRODUCT OWNER H/F', 'Analyste Risque Retail-(H/F)',
       'Simulation Ingenieur Insassenschutz (m/w/d)',
       'Data Analyst - 9 Month Fixed Term Contract',
       'Commercial Data Analyst', 'Junior Analyst (J12998)',
       'Data Engineer for Business Intelligence/Data Analytics team',
       'Consultant Junior | CIO Advisory | CDI | H/F',
       'Incentives Analyst', 'Data Analytics Analyst',
       'Data Analyst (f/m/d)',
       'Remote Opportunity for Norwegian speakers | Media Search Analyst',
       'Data Engineer / Analytics Product Owner',
       'Graduate Python Developer',
       'Business Intelligence & Market Insights Analyst',
       'Junior Analytics Engineer (m/w/d)', 'Ingeniero/a RAM',
       'Analista funzionale', 'Thesis Worker, Simulation',
       'Python Developer - AWS / CI/CD - Swiss Insurance Company',
       'Paid Social Specialist',
       'Data, Reporting and Insights Specialist',
       'Electrification engineer Martorell - Several Engineering positions (Power electronics)',
       "Chargé.e d'études Flux et Mobilités (CDI) - F/H",
       'PHP Full Stack Developer', 'Stage Digital Analytics - Marketing',
       'Data Engineer Spark Scala Sensitivities (H/F) IT CIB',
       'Financial Analyst', 'Engineer',
       'Data Scientist - Field Marketing', 'Environmental Data Analyst',
       'Data Analyst - Marketing', 'Data Analyst TUI.com (m/w/d)',
       'Data Analyst (Tijdelijk - 3 Maanden)',
       'Data Analyst & Coordinator',
       "Data Analyst & développement digital de l'Audit Compagnie F/H",
       'AI/ML Engineer', 'Data Analyst Télécom (IT)',
       'Performance and Data Analyst', 'Data Scientist .',
       'Stagiaire Développeur solution L4G',
       'Software Engineer - Data Visualization',
       'Solution Analyst area MES',
       'Python Engineer for Booking Backend Tribe',
       'Data Analyst - Analytics and Insights - Data Center of Excellence',
       'Stage innovation – DATA SCIENTIST – IA H/F',
       "Jeune Docteur R&D - Data Science & IA dans la Finance d'Entreprise - H/F",
       'Junior Analyst (J12997)',
       'Business Analytics & Service Enhancement Specialist (Maternity Cover)',
       'Data Analyst (Spotfire and/or Mendix, SQL and Python), Veldhoven',
       'CX Data Analyst', 'Skilled Data Scientist', 'Power BI Developer',
       'Young Graduate Data Engineer', 'Customer Engineer',
       'Softwareentwicklerin/Softwareentwickler',
       'Développeuse/Développeur Odoo / Python',
       'Développeur Python - F/H', 'Data analyst Datalake (F/H)',
       'Back-End Engineer, DeFi',
       'DATA SCIENTIST / DATA ENGINEER, Secteur aéronautique',
       'Développeur BI junior F/H', 'Apprenti.e Data analyst (h/f)',
       'Quality Engineer electronics',
       'Data Analyst (Spotfire and/or Mendix, SQL and Python) - Veldhoven',
       'Cryptography Specialist Engineer (Snaps)',
       'Internet Analyst | Greater Turin Metropolitan Area',
       'Software Engineer', 'Graduate Developer',
       'Online Data Analyst - Sweden',
       'Part-time Work Opportunity | Online Data Analyst',
       'Developer Sophis Back-Office (H/F)',
       'Ingénieur en développement Python sur les traitements de médias (H/F)',
       'Ingénieur qualité images satellites - F/H',
       'Software Engineer - Compute', 'C++ Developer',
       'Internet Analyst (Part-time)',
       'Ingénieur R&D Ruby / Python F/H H/F',
       'Data Engineer junior | MedTech', 'Reporting & Data analyst',
       'Junior Business Analyst (m/w/d)', 'Junior Analyst (J12995)',
       'Consultant junior Transports H/F - Utilities, Postal & Transportation',
       'Data Modelling Analyst',
       'Data Analyst mit Fokus auf Up- und Crossselling (m/w/d)',
       'Associate Data Analyst - Product Analytics',
       'Data Analyst - Finance',
       'analista di processi e tecnologie industriali di produzione.',
       'Internet Analyst (Remote Set-up)',
       'Speech Data Collection in Germany',
       'Developer Manufacturing Processes PWR (f/m/d)',
       'Search Engine Optimization Analyst', "Chargé d'études Sport",
       'Yahoo Finance Backend Engineer',
       'Pensions Administration Data Analyst',
       'Data Analyst (Marketing Team)',
       'Backend Engineer - Data Platform', 'Junior Analyst (J12996)',
       'Business Analyst H/F', 'Data Entry Specialist',
       'Ingénieur Pilote Non Conformités - H/F - PARIS',
       'Data Analyst & BusinessObjects Developer', 'Software Developer',
       'Data Scientist - Torino',
       'NEOLAUREATO/A IN ECONOMIA per attività di CONSULENTE JUNIOR APPLICATIVO ERP/INGEGNERIA',
       'Data analyste - H/F - Alternance', 'Data Analyst, Digital',
       'Stage - Business Intelligence / Service Qualité - BAc +5 (dépt 27 - Le Vaudreuil)- F/H',
       'Développeur Objet domaine défense H/F',
       'Enterprise Architect Junior Analyst [Online / Phone Recruitment]',
       'Consultant junior H/F - IT Strategy',
       'Data Engineer - Data Science Engineering',
       'Data Analyst-Tecan Evo Plus and Fluent Biosero GBG',
       'Junior Market Data Analyst', 'SOFTWARE ENGINEER',
       'Data Analyst - Demand', 'DEVELOPPEUR PYTHON (H/F) IDF',
       'Développeur Python',
       'Data Analyst (Insurance) - Multiple Positions',
       'Data Analyst, Banking & Insurance',
       'Remote | Software Engineer (Golang) Poland',
       '(Senior) Fullstack Engineer (all genders) Remote',
       'Studentische Mitarbeiterin / Studentischer Mitarbeiter (m/w/d) im Business Management der Volkswagen Consulting, Schwerpunkt Personalmarketing und Social Media',
       'Software Engineer (m/f/x)- Remote/ Hybrid',
       'Développeur Full-stack expérimenté(e) (H/F)',
       'DATA ENGINEER SKYWISE [H/F/D]', 'Online Data Analyst - Slovenia',
       'PT Compliance Hub - Data Analyst', 'DEVOPS ENGINEER',
       'Traineeship Data Analist', 'Data Engineer - Metrics',
       'Werkstudent Pricing (w/m/d) - Smart Starter Programm',
       'Commercial Data Analyst - Online Travel - London - £40K',
       'Online Data Analyst - Croatia', 'API Developer',
       'Junior Product Owner',
       'Software Engineer - Application Frameworks and Project Bootstrapping',
       'Développeur full stack F/H', 'Location Strategy & Data Analyst',
       'Software Backend Engineer (m/f/d)', 'Data Entry in Spain',
       'Cybersecurity Data Analyst', 'Data Analyst Product, CRO expert',
       'Web Analyst for Czech Speaker in Germany',
       'Media Search Analyst - German (DE)',
       'Data Engineering & Data Warehouse Analyst (all genders)',
       'Chef de projet data F/H', 'GIS Asset Data Analyst',
       'Data Engineer (Analytics)',
       'Data Scientist / Machine Learning Engineer',
       'Ingénieur prévisions des énergies', 'Homologation Engineer',
       'Data Specialist (Steward / Analyst)', 'Analyste Data H/F',
       'Data Scientist-Analyst GERS (H/F) - Boulogne-Billancourt (France)',
       'Analytics Engineer - Internal Analytics',
       'Stagiaire Ingénieur Data (F/H)', 'Test Engineer DevOps',
       'Customer Ledger Data Analyst',
       'Data Analyst (m/f/d) Workload Planning (Business Administrator (Fachschule) - Information Processing)',
       'Data Analytics Developer', 'People Systems and Data Analyst',
       'Développeur C++ - QT - H/F - Paris', 'Kubernetes Developer',
       'Software Engineer - Resilience',
       'Product Data Analyst / Analytics Engineer — London',
       'Promoter Engineer', 'ML Ops Engineer',
       'Online Data Analyst - Slovakia',
       'SSWHG35824 - Data Analyst, CHAIR Programme, Section Officer, Grade VI',
       'Social Media Analyst',
       'JUNIOR CONSULTANT - SETTORE INNOVAZIONE TECNOLOGICA\xa0- SP10868',
       'OutSystems Developer', 'Insight Analyst',
       'Data Analyst | E-commerce & Crowdfunding',
       'Quality Engineer - Product Analyst', 'DevOps Engineer',
       '(Junior) Consultant Digitales & Strategisches Prozessmanagement (m/w/d) in Stuttgart',
       "Stagiaire Développeur d'outils pédagogiques de formation (H/F)",
       'SW Developer in Test (C++) – Brno',
       'Data Analyst for Portuguese Speakers',
       'Sample Management Data Analyst',
       'Stage - Développeur FullStack (H/F)', 'Data engineer H/F',
       "Analyste risques suivi d'activité de marché-(H/F)",
       'Développeur Python Back-end',
       'Application Data Analyst Hybrid working',
       'Inventory data analyst til Europas største kontorartikelleverandør',
       'Junior Consultant - Taranto', 'Data Analyst Pricing – F/H',
       'SVILUPPATORE C++/PYTHON', 'Data Analyst - Regulatory Affairs',
       'Language Data Analyst - Hebrew', 'Acoustic Data Analyst',
       'Systems Data Analyst', 'Ingenieur für die Produktion (m/w/d)',
       'Ingénieur en télédétection et physique atmosphérique - F/H',
       'BI Engineer, Business Intelligence #SWX H/F',
       'Software function developer for electric powertrain control',
       'Junior Network Quality Engineer',
       'Junior Data Governance Specialist',
       'Junior Technical Analyst (all genders)',
       'Business Intelligence Consultant',
       'Risk Analytics & AI Professionals',
       'Cloud Engineer bij InnoValor', 'Functional Analyst',
       'Master Data (bilingue anglais) H/F', 'SW integrator engineer',
       '(JUNIOR) CONSULTANT (M/W/D) TRANSFORMATION & DATA, bis 70k',
       'Data Steward', 'Consultant (m/w/d) AI & Data Science in Hamburg',
       'Apprenti Ingénieur Business Intelligence (H/F) - NIEDERHERGHEIM',
       'HR Group Reward & HR Data Analyst',
       'Media Search Analyst | French Speaker', 'Data Associate',
       'Data Engineer - Internal Analytics', 'Interim HR Data Analyst',
       'Language Researcher / Data Analyst - French',
       'Online Data Analyst - Hungary', 'P2P Operations Credit Analyst',
       'Ing. Elettronico/Data Analyst',
       'Customer Data Platform (CDP) Specialist / Customer Data Consultant / MarTech Expert / Data Analyst (H/F)',
       'Module Data Science Engineer',
       'Advance Analytics and AI practitioner',
       'Data Analyst / Consultant Qlikview/Qliksense (m/w/d)',
       'Quality Assurance Analyst', 'Python Software Engineer',
       'Développeur C# H/F', 'Fullstack Python Developer - Data Lake',
       'Junior Entwickler (m/w/d) – Data Science Automotive',
       'Analytics Engineer (open to full remote in Germany)',
       'Scientific programmer and data analyst',
       'Software Engineer - Site Reliability',
       'Software Engineer (m/w/d)', 'Ingénieur-e écoconception F/H',
       'Genomics Data Analyst',
       'Analytics Engineer (open to full remote in Spain)',
       'Junior Engineer for Dynamic Mooring Analyses',
       'Data Research Analyst', 'Junior Developer - Low-Code (m/w/d)',
       'Junior Business Intelligence Analyst',
       'Praktikant / Werkstudent Data Analyst (m/w/d) Financial Services Industry',
       'Junior data scientist/onderzoeker',
       'Praktikum Trade Marketing – Dove, Axe, Duschdas (m/w/d)',
       'Data Engineer (m/f/d) - Pricing Intelligence',
       'Data Administrator',
       'Ingénieur IVVQ-Spatiale – Valence, France (H/F)',
       'Ingénieur Qualité Projet Développement',
       'Quality Engineer Junior', 'BI Data Analyst Intern (f/m/x)',
       'Support Engineer',
       'Python Entwickler (gn) für AUTOSAR-XML: Ingolstadt & remote',
       'Practice Data Engineer F/H', 'Senior Analytics Consultant',
       'Internet Analyst | Florence, Italy Metropolitan Area',
       'Technical Support Engineer - Azure Synapse Analytics',
       'Analytics Engineer (open to full remote in France)',
       'Junior Consultant', 'Data Engineer – E-Commerce',
       'Data Architect/ Engineer Graduate',
       'Graduate Marketing Technology Analyst',
       'Desarrollador/a Mercado Canal Nocturno, Barcelona',
       'ESG Data Specialist',
       'Duales Masterstudium Applied Data Science (m/w/d)',
       'Développeur Python H/F',
       '(Junior) Consultant Digitales & Strategisches Prozessmanagement (m/w/d) in Berlin',
       'Ingénieur logiciel – Caen, France (H/F)',
       'Ocean Freight Operator',
       'Qualitätsingenieur (*) für Medizinprodukte', 'Developer, C#',
       'Ingénieur Opérations Sol H/F', 'Consulente junior',
       'SAS Engineer/Consultant',
       'Data Expert (m/w/d) für das Rail-Segment',
       '(Junior) Software Developer - Python', 'Junior Energy Analyst',
       'Language Data Analyst', 'Data Scientist - Data Science',
       'Data Junior Analyst [Online / Phone Recruitment]',
       'Traffic Analyst', 'Junior Developer (J12998)',
       'Assistenz (w/m/d) des CEO West - Schwerpunkt Data Analyst / Controlling',
       'Project Services Assistant', 'CONSULENTE APPLICATIVO ERP JUNIOR',

Много не релевантных вакансий, например Junior Network Quality Engineer', 'Cloud Engineer bij InnoValor' , 'Quality Engineer Junior', 'Support Engineer', их необходимо исключить.

In [77]:
import re

In [78]:
clear_df['title'] = clear_df['title'].str.lower()

In [79]:
pattern = re.compile('''(analyst)|(bi-analyst)|(bi analyst)|(business intelligence analyst)
|(business intelligence-analyst)|(data-analyst)|(data analyst)|(product analyst)|(product-analyst)''')

In [80]:
report = clear_df[clear_df['title'].str.contains(pattern)].reset_index(drop=True)

In [81]:
report['title'].unique()

array(['online data analyst', 'online data analyst - belgium',
       'data analyst', 'alternant/ alternante data analyst m/f',
       'junior test analyst', 'data analyst h/f',
       'stage - data analyst (h/f)', 'data analyst (f/h)',
       'data analyst (tableau)', 'online data analyst | french speaker',
       'online data analyst | flexible work',
       'online data analyst | remote opportunity', 'data analyst (it)',
       'data analyst (m/f/d)', 'data analyst (m/w/d)',
       'remote | data analyst', 'data analyst sa1/sa2',
       'data analyst | deals (m&a) | cdi | h/f',
       'data analyst - adsales & storyworks',
       'data analyst with focus on solution design (m/f/d)',
       'remote| data analyst', 'data analyst - (m/f/d)',
       'alternance - data analyst/dataviz specialist h/f',
       'data analyst  - boursorama',
       'technology strategy & advisory junior analyst',
       'data analyst in forensic technology services team',
       'junior business analyst', 'analyste exploitation datacenter',
       'data analyst with python', 'online data analyst in the uk',
       'data analyst clickshare', 'data analyst - associate',
       'ingénieur analyste gc/gcms h/f', 'work from home | data analyst',
       'internet analyst', 'data analyst - performance',
       'data data analyst with spanish',
       'junior functional analyst ambito canali',
       'data analyst (part-time)', 'data analyst customer excellence',
       'internet analyst (remote)', 'data/analyst data translator (h/f)',
       'junior business analyst (m/f/d)', 'product data analyst',
       'data analyst - oxfordshire', 'graduate data analyst',
       'graduate data analyst 12 month ftc', 'product/data analyst',
       'data analyst - werkstudent (m/w/d)',
       'superbe opportunité de data analyst - 100% à martigny',
       'customer data analyst (m/w/d)',
       'data analyst düsseldorf/münchen gesucht at jsan consulting gmbh',
       'data analyst e-commerce (m/w/d)', 'consultant data analyst (f/h)',
       'remote | internet analyst', 'stage - data analyst marketing f/h',
       'data internet analyst', 'data analyst rh - f/h',
       'data development analyst',
       'data analyst in technology team, financial crime unit',
       'junior data analyst', 'data analyst (cdm 8 mois)',
       'asset data analyst',
       'internet analyst | greater bologna metropolitan area',
       'data analyst (m/w/d) - automotive',
       'product data analyst (v.i.e.) h/f', 'data analyst - f/h - idf',
       'data analyst with spanish (shifts), corporate actions',
       'material data analyst', 'data analyst (hydro)',
       'data analyst - part time',
       'data analyst (product & operations) - sustainability',
       'data analyst/data-analystin - it forensik (m/w/d)',
       'operations data analyst (they/she/he)', 'analyst',
       'analyst big data', '(junior) h2 modelling analyst m/f/t',
       'data analyst (m/f/d) brand marketing',
       'internet analyst - remote',
       'business analyst / consultant it sourcing (m/w/d) in düsseldorf',
       'stage data analyst h/f', 'analyste risque retail-(h/f)',
       'data analyst - 9 month fixed term contract',
       'commercial data analyst', 'junior analyst (j12998)',
       'incentives analyst', 'data analytics analyst',
       'data analyst (f/m/d)',
       'remote opportunity for norwegian speakers | media search analyst',
       'business intelligence & market insights analyst',
       'financial analyst', 'environmental data analyst',
       'data analyst - marketing', 'data analyst tui.com (m/w/d)',
       'data analyst (tijdelijk - 3 maanden)',
       'data analyst & coordinator',
       "data analyst & développement digital de l'audit compagnie f/h",
       'data analyst télécom (it)', 'performance and data analyst',
       'solution analyst area mes',
       'data analyst - analytics and insights - data center of excellence',
       'junior analyst (j12997)',
       'data analyst (spotfire and/or mendix, sql and python), veldhoven',
       'cx data analyst', 'data analyst datalake (f/h)',
       'apprenti.e data analyst (h/f)',
       'data analyst (spotfire and/or mendix, sql and python) - veldhoven',
       'internet analyst | greater turin metropolitan area',
       'online data analyst - sweden',
       'part-time work opportunity | online data analyst',
       'internet analyst (part-time)', 'reporting & data analyst',
       'junior business analyst (m/w/d)', 'junior analyst (j12995)',
       'data modelling analyst',
       'data analyst mit fokus auf up- und crossselling (m/w/d)',
       'associate data analyst - product analytics',
       'data analyst - finance', 'internet analyst (remote set-up)',
       'search engine optimization analyst',
       'pensions administration data analyst',
       'data analyst (marketing team)', 'junior analyst (j12996)',
       'business analyst h/f', 'data analyst & businessobjects developer',
       'data analyste - h/f - alternance', 'data analyst, digital',
       'enterprise architect junior analyst [online / phone recruitment]',
       'data analyst-tecan evo plus and fluent biosero gbg',
       'junior market data analyst', 'data analyst - demand',
       'data analyst (insurance) - multiple positions',
       'data analyst, banking & insurance',
       'online data analyst - slovenia',
       'pt compliance hub - data analyst',
       'commercial data analyst - online travel - london - £40k',
       'online data analyst - croatia',
       'location strategy & data analyst', 'cybersecurity data analyst',
       'data analyst product, cro expert',
       'web analyst for czech speaker in germany',
       'media search analyst - german (de)',
       'data engineering & data warehouse analyst (all genders)',
       'gis asset data analyst', 'data specialist (steward / analyst)',
       'analyste data h/f',
       'data scientist-analyst gers (h/f) - boulogne-billancourt (france)',
       'customer ledger data analyst',
       'data analyst (m/f/d) workload planning (business administrator (fachschule) - information processing)',
       'people systems and data analyst',
       'product data analyst / analytics engineer — london',
       'online data analyst - slovakia',
       'sswhg35824 - data analyst, chair programme, section officer, grade vi',
       'social media analyst', 'insight analyst',
       'data analyst | e-commerce & crowdfunding',
       'quality engineer - product analyst',
       'data analyst for portuguese speakers',
       'sample management data analyst',
       "analyste risques suivi d'activité de marché-(h/f)",
       'application data analyst hybrid working',
       'inventory data analyst til europas største kontorartikelleverandør',
       'data analyst pricing – f/h', 'data analyst - regulatory affairs',
       'language data analyst - hebrew', 'acoustic data analyst',
       'systems data analyst', 'junior technical analyst (all genders)',
       'functional analyst', 'hr group reward & hr data analyst',
       'media search analyst | french speaker', 'interim hr data analyst',
       'language researcher / data analyst - french',
       'online data analyst - hungary', 'p2p operations credit analyst',
       'ing. elettronico/data analyst',
       'customer data platform (cdp) specialist / customer data consultant / martech expert / data analyst (h/f)',
       'data analyst / consultant qlikview/qliksense (m/w/d)',
       'quality assurance analyst',
       'scientific programmer and data analyst', 'genomics data analyst',
       'data research analyst', 'junior business intelligence analyst',
       'praktikant / werkstudent data analyst (m/w/d) financial services industry',
       'bi data analyst intern (f/m/x)',
       'internet analyst | florence, italy metropolitan area',
       'graduate marketing technology analyst', 'junior energy analyst',
       'language data analyst',
       'data junior analyst [online / phone recruitment]',
       'traffic analyst',
       'assistenz (w/m/d) des ceo west - schwerpunkt data analyst / controlling',
       'purchasing analyst (m/w/d) 100%', 'pressure analyst',
       'business analyst', 'business analyst h/f - bordeaux',
       'junior sap analyst'], dtype=object)

In [82]:
report['skills'] = report['skills'].astype('str')

In [83]:
report.duplicated().sum()

0

In [84]:
report.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345 entries, 0 to 344
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   city              324 non-null    object
 1   country           345 non-null    object
 2   company_name      345 non-null    object
 3   title             345 non-null    object
 4   size              344 non-null    object
 5   sector            324 non-null    object
 6   company_size      345 non-null    object
 7   workplace_type    293 non-null    object
 8   total_candidates  311 non-null    object
 9   date              345 non-null    datetime64[ns]
 10  skills            345 non-null    object
dtypes: datetime64[ns](1), object(10)
memory usage: 29.8+ KB

In [85]:
report.to_csv('report.csv', index=False)

Итак, для получения файла для визуализации, былы выделены страны, города, наименования вакансий, информация о компаниях, сфере работы, численности, умения, знания и навыки, предъявляемые к соискателю. Поэтапно рассматривались, исключались дубликаты, нерелевантные вакансии.